.textList {
  margin: 0;
  padding: 0;
  padding-left: var(--space-base);
  list-style: disc outside none;
}

.textList .textList {
  margin-top: var(--space-small);
}

.bulleted .bulleted {
  list-style-type: circle;
}

.bulleted .bulleted .bulleted {
  list-style-type: square;
}

.numbered {
  list-style-type: decimal;
}

.textListItem {
  display: list-item;
}
