/* 
  faking a border with a background on the parent element, gaps & padding
  to prevent double borders on overlapping boxes
*/
.container {
  display: grid;
  width: 100%;
  padding: var(--space-smaller);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-large);
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . lastday lastday lastday lastday";
  row-gap: var(--space-smaller);
  column-gap: var(--space-smaller);
}

.container div:nth-child(n + 1):nth-last-child(-n + 1) {
  grid-area: lastday;
}

.container div:nth-child(n + 1):nth-last-child(-n + 1) label {
  height: 100%;
}

@supports (aspect-ratio: unset) {
  .container div:nth-child(n + 1):nth-last-child(-n + 1) label {
    /*
    * disabling property-no-unknown here as this is a real property
    * that stylelint just doesn't know about. We may be able to remove
    * this when we update our stylelint to not care about IE11.
    */
    /* stylelint-disable-next-line property-no-unknown */
    aspect-ratio: unset;
  }
}
