.swatch {
  display: inline-block;
  width: calc(100% / 4 - 0.5rem);
  margin: 0.25rem;
}

.swatch:first-child {
  width: calc(100% - 0.5rem);
}

.color {
  height: 60px;
  border: solid 1px var(--color-grey--light);
  border-radius: 0.25rem;
}

.name,
.value {
  width: 100%;
  font-family: monospace;
  font-size: 10px;
  text-align: center;
}
