.swatch {
  display: inline-block;
  width: 25%;
  margin: var(--space-small) 0 var(--space-smaller);
}

.color[style*="background-color: rgb(255, 255, 255);"] {
  box-shadow: var(--shadow-base);
}

.swatch:first-child {
  width: 100%;
  margin-top: var(--space-smaller);
}

.color {
  height: var(--space-extravagant);
  margin-bottom: var(--space-smaller);
}

.name,
.value {
  width: 100%;
  color: var(--color-greyBlue--dark);
  font-family: monospace;
  font-size: var(--typography--fontSize-smaller);
}
