.small {
  --input-height: var(--input-height--small, 2em);
}

.normal {
  --input-height: var(--input-height--normal, 3em);
}

.large {
  --input-height: var(--input-height--large, 3em);
  font-size: var(--input-font-size--large, 1.125em);
}

.error,
.error:focus-within {
  --input-border-color: var(--input-border-color--error, rgb(239, 87, 51));
  --label-text-color: var(--label-text-color--error, rgba(239, 87, 51));
}

.inputWrapper {
  height: var(--input-height);
  margin-bottom: 1rem;
}

.inputWrapper:focus-within {
  --input-border-color: var(--input-border-color--focused, rgb(221, 195, 15));
}

.label,
.input::placeholder {
  color: var(--label-text-color, rgb(101, 120, 132));
}

.label {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  padding: 0 1rem;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--input-background-color, rgb(255, 255, 255));
  border: 2px solid var(--input-border-color, rgb(225, 225, 225));
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.input:disabled {
  --input-background-color: var(
    --input-background-color--disabled,
    rgb(244, 244, 244)
  );
  opacity: 0.6;
}

.labelContent {
  position: absolute;
  left: 1rem;
  width: 100%;
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transform: none;
  transition: transform 100ms, opacity 100ms;
  align-self: center;
  transform-origin: top left;
}

.input:not(:placeholder-shown) + .labelContent {
  opacity: 1;
  transform: scale(0.75) translate(1px, -1em);
}
