:root {
  --color-grey-blue--light: rgb(147, 161, 169);
  --color-grey--lighter: rgb(225, 225, 225);
  --color-grey--lightest: rgb(244, 244, 244);
  --color-yellow: rgb(221, 195, 15);
  --color-red: rgb(239, 87, 51);
  --color-white: rgb(255, 255, 255);
}

.small {
  --input-height: var(--input-height--small, 2em);
}

.normal {
  --input-height: var(--input-height--normal, 3em);
}

.large {
  --input-height: var(--input-height--large, 3em);
  font-size: var(--input-font-size--large, 1.125em);
}

.error,
.error:focus-within {
  --input-border-color: var(--input-border-color--error, var(--color-red));
  --label-text-color: var(--label-text-color--error, var(--color-red));
}

.inputWrapper {
  height: var(--input-height);
  margin-bottom: 1rem;
}

.inputWrapper:focus-within {
  --input-border-color: var(--input-border-color--focused, var(--color-yellow));
}

.label,
.input::placeholder {
  color: var(--label-text-color, var(--color-grey-blue--light));
}

.label {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  padding: 0 1rem;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--input-background-color, var(--color-white));
  border: 2px solid var(--input-border-color, var(--color-grey--lighter));
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.input:disabled {
  --input-background-color: var(
    --input-background-color--disabled,
    var(--color-grey--lightest)
  );
  opacity: 0.6;
}

.labelContent {
  position: absolute;
  left: 1rem;
  width: 100%;
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transform: none;
  transition: transform 100ms, opacity 100ms;
  align-self: center;
  transform-origin: top left;
}

.input:not(:placeholder-shown) + .labelContent {
  opacity: 1;
  transform: scale(0.75) translate(1px, -1em);
}
