.none {
  gap: 0;
}

.smaller {
  gap: var(--space-smaller);
}

.small {
  gap: var(--space-small);
}

.base {
  gap: var(--space-base);
}

.large {
  gap: var(--space-large);
}

.larger {
  gap: var(--space-larger);
}
