.container {
  position: relative;
  padding: var(--space-small) 0;
}

.optionsList {
  display: flex;

  max-height: calc(var(--space-small) * 33.33);
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
  flex-direction: column;
  gap: var(--space-smaller);
}
.filterMessage,
.emptyStateMessage {
  padding: var(--space-small) var(--space-base);
}

.container::before,
.container::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: var(--space-base);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.container::after {
  bottom: var(--space-small);
  background: linear-gradient(
    180deg,
    transparent 0%,
    var(--color-surface) 100%
  );
}

.container::before {
  top: var(--space-small);
  background: linear-gradient(
    180deg,
    var(--color-surface) 0%,
    transparent 100%
  );
}

.scrollTop::before,
.scrollNone::before {
  opacity: 0;
}

.scrollBottom::after,
.scrollNone::after {
  opacity: 0;
}

.loadingContainer {
  padding: var(--space-base) var(--space-base);
}

.loadingContainer.hasOptions {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding: var(--space-base) 0;
}

.loadingContainer.hasOptions:empty {
  display: none;
}
