:root {
  --sideBarWidth: 200px;
}

@media screen and (min-width: 1024px) {
  :root {
    --sideBarWidth: 235px;
  }
}

body {
  margin: 0;
  font-family: var(--typography--fontFamily-normal);
}

h1 {
  font-size: var(--typography--fontSize-jumbo);
  font-weight: 800;
}

h1 {
  font-family: var(--typography--fontFamily-display);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: var(--typography--fontSize-largest);
}

h3 {
  font-size: var(--typography--fontSize-larger);
}

h4 {
  font-size: var(--typography--fontSize-large);
}

h5 {
  font-size: var(--typography--fontSize-base);
}

h6 {
  font-size: var(--typography--fontSize-small);
  text-transform: uppercase;
}


a {
  margin: calc(-1 * var(--space-smallest));
  padding: var(--space-smallest);
  border-radius: var(--radius-small);
  color: var(--color-interactive);
  transition: all var(--timing-quick) ease-out;
}

a:hover,
a:focus {
  outline: transparent;
  color: var(--color-interactive--hover);
  background-color: var(--color-surface--hover);
}

a:focus-visible {
  box-shadow: var(--shadow-focus);
}

a:visited {
  color: var(--color-interactive--hover);
}

blockquote {
  background-color: var(--color-surface--background--subtle);
  margin: 0;
  padding: var(--space-base) var(--space-large);
  border-radius: var(--radius-base);
}

custom-elements,
section[role="tabpanel"] {
  & table {
    min-width: 66%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    margin: var(--space-large) auto;
    font-size: var(--typography--fontSize-base);
    line-height: 24px;
    padding: 0;
    border-collapse: collapse;
    box-shadow: var(--shadow-low);
    border-radius: var(--radius-base);
    overflow: hidden;
  }

  & thead {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--typography--fontSize-base);
    line-height: 24px;
    text-align: start;
    background-color: var(--color-surface--background);
  }

  & tr {
    border-top: none;
    margin: 0;
    padding: 0;
  }

  & tr th {
    text-align: inherit;
    font-weight: bold;
    color: var(--color-text);
    border: none;
    margin: 0;
    padding: var(--space-base);
  }

  & tr td {
    border: none;
    color: var(--color-text);
    margin: 0;
    padding: var(--space-base);
  }

}

pre,
code {
  background-color: var(--color-surface--background);
  border-radius: var(--radius-small);
  padding: var(--space-smallest);
  margin: 0;
}

pre code {
  padding: var(--space-small);
  display: block;
}

code.root-code[class*="language-"] {
  color: var(--color-request);
}

pre.root-pre[class*="language-"] {
  padding: var(--space-larger);
}

pre.root-pre code.root-code {
  background: var(--color-surface--background);
  color: var(--color-text);
}

pre.root-pre {
  background: var(--color-surface--background);
  padding: var(--space-large);
}

section[role="tabpanel"]>div>h1:first-of-type {
  display: none;
}

iframe {
  width: 100%;
}

.headerBlock {
  background-image: url("/img_collage.jpg");
  background-size: cover;
  padding: var(--space-large);
  width: 100%;
  height: 100%;
  text-shadow: 0px 4px 16px rgba(var(--color-black--rgb), 0.6);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .headerBlock {
    padding: var(--space-extravagant);
  }
}

.headerBlock:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-surface);
  mask-image: url("/distress_paper-rip.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  width: 100%;
  height: 2vw;
}

.headerBlock > * {
  width: 100%;
  max-width: 1024px;
}

.contentCardWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: auto;
  gap: var(--space-base);
  isolation: isolate;
}

@media screen and (min-width: 1024px) {
  .contentCardWrapper {
    gap: var(--space-larger);
  }
}

.stickySectionHeader {
  position: sticky;
  top: 0;
  z-index: 1;
}

.baseView-sideRail {
  width: var(--sideBarWidth);
  padding: 36px var(--space-base);
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .baseView-sideRail {
    display: flex;
  }
}