body {
  margin: 0;
  font-family: var(--typography--fontFamily-normal);
}

h1 {
  font-size: var(--typography--fontSize-jumbo);
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typography--fontFamily-display);
}

a {
  margin: calc(-1 * var(--space-smallest));
  padding: var(--space-smallest);
  border-radius: var(--radius-small);
  color: var(--color-interactive);
  transition: all var(--timing-quick) ease-out;
}

a:hover,
a:focus {
  outline: transparent;
  color: var(--color-interactive--hover);
  background-color: var(--color-surface--hover);
}

a:focus-visible {
  box-shadow: var(--shadow-focus);
}

a:visited {
  color: var(--color-interactive--hover);
}

custom-elements,
section[role="tabpanel"] {
  & table {
    min-width: 66%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    margin: var(--space-large) auto;
    font-size: var(--typography--fontSize-base);
    line-height: 24px;
    padding: 0;
    border-collapse: collapse;
    box-shadow: var(--shadow-low);
    border-radius: var(--radius-base);
    overflow: hidden;
  }

  & thead {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--typography--fontSize-base);
    line-height: 24px;
    text-align: start;
    background-color: var(--color-surface--background);
  }

  & tr {
    border-top: none;
    margin: 0;
    padding: 0;
  }

  & tr th {
    text-align: inherit;
    font-weight: bold;
    color: var(--color-text);
    border: none;
    margin: 0;
    padding: var(--space-base);
  }

  & tr td {
    border: none;
    color: var(--color-text);
    margin: 0;
    padding: var(--space-base);
  }

}

pre {
  background-color: var(--color-surface--background);
  border-radius: var(--radius-base);
  border: var(--border-base) solid var(--color-border);
}

code.root-code[class*="language-"] {
  color: var(--color-request);
}

pre.root-pre[class*="language-"] {
  padding: var(--space-larger);
}

pre.root-pre code.root-code {
  background: var(--color-surface--background);
  color: var(--color-text);
}

pre.root-pre {
  background: var(--color-surface--background);
  padding: var(--space-large);
}

section[role="tabpanel"]>div>h1:first-of-type {
  display: none;
}

iframe {
  width: 100%;
  min-height: 200px;
}