:root {
  --tooltip--arrow-size: var(--space-small);
  --tooltip--offset: calc(-1 * calc(var(--space-smaller) + 1px));
}

.shadowActivator {
  display: none;
}

.tooltipWrapper {
  display: inline-block;
  position: absolute;
  z-index: var(--elevation-tooltip);
}

.tooltip {
  display: inline-block;
  position: relative;
  max-width: calc(var(--base-unit) * 15);
  padding: var(--space-small);
  border: var(--border-base) solid var(--color-informative);
  border-radius: var(--radius-base);
  background-color: var(--color-informative--surface);
}

.tooltip .arrow,
.tooltip .arrow::after {
  width: var(--tooltip--arrow-size);
  height: var(--tooltip--arrow-size);
  background-color: transparent;
}

.tooltip .arrow::after {
  content: "";
  display: block;
  position: absolute;
  border: var(--border-base) solid var(--color-informative);
  background-color: var(--color-informative--surface);
  transform: rotate(45deg);
}

.above {
  padding-bottom: var(--space-small);
}

.above .tooltip {
  transform-origin: bottom center;
}

.above .tooltip .arrow {
  bottom: var(--tooltip--offset);
}

.above .tooltip .arrow::after {
  border-top-width: 0;
  border-left-width: 0;
}

.below {
  padding-top: var(--space-small);
}

.below .tooltip {
  transform-origin: top center;
}

.below .tooltip .arrow {
  top: var(--tooltip--offset);
}

.below .tooltip .arrow::after {
  border-bottom-width: 0;
  border-right-width: 0;
}
