:root {
  --tooltip--arrow-size: var(--space-small);
  --tooltip--offset: calc(-1 * var(--space-smaller));
  --tooltip--surface: var(--color-surface--reverse);
}

.shadowActivator {
  display: none;
}

.tooltipWrapper {
  display: inline-block;
  position: absolute;
  z-index: var(--elevation-tooltip);
  pointer-events: none;
}

.tooltip {
  display: inline-block;
  position: relative;
  max-width: calc(var(--base-unit) * 15);
  padding: calc(var(--space-base) - var(--space-smallest)) var(--space-base);
  border-radius: var(--radius-larger);
  background-color: var(--tooltip--surface);
}

.tooltip .arrow,
.tooltip .arrow::after {
  width: var(--tooltip--arrow-size);
  height: var(--tooltip--arrow-size);
  background-color: transparent;
}

.tooltip .arrow::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--tooltip--surface);
  transform: rotate(45deg);
}

.above {
  padding-bottom: var(--space-small);
}

.above .tooltip {
  transform-origin: bottom center;
}

.above .tooltip .arrow {
  bottom: var(--tooltip--offset);
}

.above .tooltip .arrow::after {
  border-top-width: 0;
  border-left-width: 0;
}

.below {
  padding-top: var(--space-small);
}

.below .tooltip {
  transform-origin: top center;
}

.below .tooltip .arrow {
  top: var(--tooltip--offset);
}

.below .tooltip .arrow::after {
  border-bottom-width: 0;
  border-right-width: 0;
}

.tooltipMessage {
  margin: 0;
  color: var(--color-text--reverse);
  font-size: var(--typography--fontSize-base);
  font-weight: 600;
  line-height: var(--typography--lineHeight-base);
}
