.shadowActivator {
  display: none;
}

.tooltipWrapper {
  --tooltip--arrow-size: 8px;
  --tooltip--offset: calc(-1 * var(--space-smaller));
  --tooltip--surface: var(--color-surface--reverse);

  display: inline-block;
  position: absolute;
  z-index: var(--elevation-tooltip);
  pointer-events: none;
}

.tooltip {
  display: inline-block;
  position: relative;
  max-width: 250px;
  padding: var(--space-small) calc(var(--space-small) + var(--space-smaller));
  border-radius: var(--radius-base);
  background-color: var(--tooltip--surface);
}

.tooltip .arrow,
.tooltip .arrow::after {
  width: var(--tooltip--arrow-size);
  height: var(--tooltip--arrow-size);
  background-color: transparent;
}

.tooltip .arrow::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--tooltip--surface);
  transform: rotate(45deg);
}

.top {
  padding-bottom: var(--space-small);
}

.top .tooltip {
  transform-origin: bottom center;
}

.top .tooltip .arrow {
  bottom: var(--tooltip--offset);
}

.bottom {
  padding-top: var(--space-small);
}

.bottom .tooltip {
  transform-origin: top center;
}

.bottom .tooltip .arrow {
  top: var(--tooltip--offset);
}

.left {
  padding-right: var(--space-small);
}

.left .tooltip {
  transform-origin: right center;
}

.left .tooltip .arrow {
  right: var(--tooltip--offset);
}

.right {
  padding-left: var(--space-small);
}

.right .tooltip {
  transform-origin: left center;
}

.right .tooltip .arrow {
  left: var(--tooltip--offset);
}

.tooltipMessage {
  margin: 0;
  color: var(--color-text--reverse);
  font-size: var(--typography--fontSize-small);
  font-weight: 500;
  line-height: var(--typography--lineHeight-base);
}

.hidden {
  display: none;
}
