@font-face {
  font-family: "jobbericons";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/jobbericons.woff2?tr7fud") format("woff2"),
    url("fonts/jobbericons.ttf?tr7fud") format("truetype"),
    url("fonts/jobbericons.woff?tr7fud") format("woff"),
    url("fonts/jobbericons.svg?tr7fud#jobbericons") format("svg");
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "jobbericons" !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  font-variant: normal;
}

/* Customized Icons */
.longArrowDown:before {
  display: inline-block;
  content: "\e617";
  transform: rotate(-90deg);
}
.longArrowUp:before {
  display: inline-block;
  content: "\e617";
  transform: rotate(90deg);
}
.remove:before {
  display: inline-block;
  content: "\e911";
  transform: rotate(45deg);
}

/* Generated Icons */
.address:before {
  content: "\e600";
}
.cross:before {
  content: "\e601";
}
.list:before {
  content: "\e602";
}
.arrowLeft:before {
  content: "\e603";
}
.arrowDown:before {
  content: "\e604";
}
.arrowUp:before {
  content: "\e605";
}
.arrowRight:before {
  content: "\e606";
}
.twitter:before {
  content: "\e607";
}
.facebook:before {
  content: "\e608";
}
.archive:before {
  content: "\e60a";
}
.vcard:before {
  content: "\e60b";
}
.avatar:before {
  content: "\e60c";
}
.search:before {
  content: "\e60d";
}
.youtube:before {
  content: "\e60e";
}
.checkmark:before {
  content: "\e60f";
}
.minus:before {
  content: "\e610";
}
.plus:before {
  content: "\e611";
}
.minus2:before {
  content: "\e612";
}
.plus2:before {
  content: "\e613";
}
.google:before {
  content: "\e614";
}
.backArrow:before {
  content: "\e617";
}
.directions:before {
  content: "\e618";
}
.email:before {
  content: "\e619";
}
.event:before {
  content: "\e61a";
}
.logout:before {
  content: "\e61b";
}
.phone:before {
  content: "\e61c";
}
.property:before {
  content: "\e61d";
}
.sync:before {
  content: "\e61e";
}
.task:before {
  content: "\e61f";
}
.visit:before {
  content: "\e620";
}
.starburst:before {
  content: "\e621";
}
.googlePlay:before {
  content: "\e622";
}
.apple:before {
  content: "\e623";
}
.clients:before {
  content: "\e624";
}
.clockIn:before {
  content: "\e625";
}
.clockOut:before {
  content: "\e626";
}
.edit:before {
  content: "\e627";
}
.invoice:before {
  content: "\e628";
}
.job:before {
  content: "\e629";
}
.markSent:before {
  content: "\e62a";
}
.moveVisits:before {
  content: "\e62b";
}
.payment:before {
  content: "\e62c";
}
.pdf:before {
  content: "\e62d";
}
.quickbooks:before {
  content: "\e62e";
}
.quoteCopy:before {
  content: "\e62f";
}
.quote:before {
  content: "\e630";
}
.redo:before {
  content: "\e631";
}
.sendInvoice:before {
  content: "\e632";
}
.signature:before {
  content: "\e633";
}
.addNote:before {
  content: "\e634";
}
.attachment:before {
  content: "\e635";
}
.link:before {
  content: "\e636";
}
.note:before {
  content: "\e637";
}
.trash:before {
  content: "\e638";
}
.excel:before {
  content: "\e639";
}
.file:before {
  content: "\e63a";
}
.word:before {
  content: "\e63b";
}
.linkedIn:before {
  content: "\e63c";
}
.alert:before {
  content: "\e800";
}
.person:before {
  content: "\e801";
}
.calendar:before {
  content: "\e900";
}
.timer:before {
  content: "\e901";
}
.schedule:before {
  content: "\e902";
}
.star:before {
  content: "\e903";
}
.starFill:before {
  content: "\e904";
}
.cog:before {
  content: "\e905";
}
.cash:before {
  content: "\e906";
}
.ePayment:before {
  content: "\e907";
}
.invoiceLater:before {
  content: "\e908";
}
.jobOnHold:before {
  content: "\e909";
}
.chemical:before {
  content: "\e90a";
}
.company:before {
  content: "\e90b";
}
.printer:before {
  content: "\e90c";
}
.stamp:before {
  content: "\e90d";
}
.help:before {
  content: "\e90e";
}
.reminder:before {
  content: "\e90f";
}
.grid:before {
  content: "\e910";
}
.add:before {
  content: "\e911";
}
.badInvoice:before {
  content: "\e912";
}
.moveMarker:before {
  content: "\e913";
}
.paidInvoice:before {
  content: "\e914";
}
.sms:before {
  content: "\e915";
}
.dashboard:before {
  content: "\e916";
}
.management:before {
  content: "\e917";
}
.work:before {
  content: "\e918";
}
.xero:before {
  content: "\e919";
}
.userUnassigned:before {
  content: "\e91a";
}
.user:before {
  content: "\e91b";
}
.thumbsUp:before {
  content: "\e91c";
}
.shoppingCart:before {
  content: "\e91d";
}
.sms2:before {
  content: "\e91e";
}
.sun:before {
  content: "\e91f";
}
.userSwitch:before {
  content: "\e920";
}
.menu:before {
  content: "\e921";
}
.expense:before {
  content: "\e922";
}
.sort:before {
  content: "\e923";
}
.knot:before {
  content: "\e924";
}
.clearFilters:before {
  content: "\e925";
}
.lock:before {
  content: "\e926";
}
.textBox:before {
  content: "\e927";
}
.textField:before {
  content: "\e928";
}
.checkbox:before {
  content: "\e929";
}
.textBlock:before {
  content: "\e92a";
}
.camera:before {
  content: "\e92b";
}
.chat:before {
  content: "\e92c";
}
.eye:before {
  content: "\e92d";
}
.percent:before {
  content: "\e92e";
}
.angieslist:before {
  content: "\e92f";
}
.instagram:before {
  content: "\e930";
}
.yelp:before {
  content: "\e931";
}
.dropdown:before {
  content: "\e932";
}
.timeline:before {
  content: "\e933";
}
.availability:before {
  content: "\e934";
}
.eyeCrossed:before {
  content: "\e935";
}
.request:before {
  content: "\e936";
}
.download:before {
  content: "\e937";
}
.microphone:before {
  content: "\e938";
}
.wallet:before {
  content: "\e939";
}
.video:before {
  content: "\e93a";
}
.more:before {
  content: "\e93b";
}
.reports:before {
  content: "\e93c";
}
.upload:before {
  content: "\e93d";
}
