.sidekick {
  display: flex;
  flex-wrap: wrap;
  gap: var(--public-sidekick-space);
}

.left > :first-child {
  flex-grow: 1;
}

.withWidth.left > :first-child {
  flex-basis: var(--public-sidekick-width);
}

.left > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--public-sidekick-min-size);
}

.right > :last-child {
  flex-grow: 1;
}

.right.widthWidth > :last-child {
  flex-basis: var(--public-sidekick-width);
}

.sidekick.right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--public-sidekick-min-size);
}
