.sidekick {
  display: flex;
  flex-wrap: wrap;
  gap: var(--public-sidekick-space);
}

.left > :first-child {
  flex-grow: 1;
}

.withWidthLeft > :first-child {
  flex-basis: var(--public-sidekick-min-width);
}

.left > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--public-sidekick-side-width);
}

.right > :last-child {
  flex-grow: 1;
}

.withWidthRight > :last-child {
  flex-basis: var(--public-sidekick-min-width);
}

.right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--public-sidekick-side-width);
}
