:root {
  --swatchSize: 64px;
}

.swatch {
  position: relative;
  width: var(--swatchSize);
  height: var(--swatchSize);
  box-shadow:
    0px 0px 0px 2px var(--color-surface),
    0px 0px 0px 3px var(--color-border);
  box-sizing: border-box;
  border-radius: var(--radius-base);
}

.pre {
  margin: 0 0 var(--space-smaller);
  padding: var(--space-smallest) var(--space-small);
  border-radius: var(--radius-base);
  font-size: var(--typography--fontSize-small);
  background: var(--color-surface--background);
}
