.footerButton {
    background-color: white;
    border: none;
    width: 100%;
}

.footerButton [data-button-spot="inactive"]:hover {
    background-color: var(--color-surface--hover);
    cursor: pointer;
}

.footerButton [data-button-spot="active"] {
    background-color: var(--color-surface--hover);
}

.baseMenuOption[data-index="0"] {
    --base-menu-offset: 75px;
}

.headerClick {
    padding: var(--space-small) var(--space-base);
    border-radius: var(--radius-base);
}

@container autocomplete-header (min-width: 300px) {
    .headerClick {
        background-color: white;
    }
}