node_modules
dist
.rpt2_cache
packages/design/colors.js
packages/design/src/assets/**
packages/design/src/icons/iconStyles.*
packages/design/icons
packages/generators/templates
packages/site/playwright-report
packages/site/public
packages/site/test-results
packages/site/src/content/**/*.props.json
packages/site/src/content/**/*.props-mobile.json

storybook-static

*.css.d.ts
*.md

!packages/components/.storybook
!packages/components-native/.storybook
