.rpt2_cache
coverage
dist
node_modules
**/tsconfig.tsbuildinfo
**/tsconfig.rollup.tsbuildinfo
.DS_Store
.idea
storybook-static
storybook-build-output
.rollup.cache
jobber-*.tgz
.npmrc
styles.css.backup

# NX (for useNx option)
.nx/cache
