.actions {
  display: flex;
  gap: var(--space-base);
}

.filterActions {
  --radius-base: 50px;

  display: flex;
  gap: var(--space-small);
}

.filterActions button {
  border: 1px solid var(--color-border) !important;
}

.filterActions svg {
  width: 16px !important;
  height: 16px !important;
}

.filterActions span {
  font-weight: 400;
}

.batchActions {
  display: flex;
  gap: var(--space-smaller);
}

.list {
  /* do nothing */
}

/* Reset button styling */
.listMain button,
.listHeaderButton {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.listHeader,
.listContentItem {
  text-align: left;
}

.listHeader {
  display: flex;
  position: sticky;
  top: 0;
  z-index: var(--elevation-base);
  padding: var(--space-small) 0;
  border-bottom: 2px solid var(--color-border);
  background-color: var(--color-surface);
  flex-direction: column;
  gap: var(--space-base);
}

.listHeaderTitles {
  padding: 0 var(--space-small);
}

button.listHeaderButton {
  display: inline-flex;
  width: auto;
  margin-top: calc(var(--space-smaller) * -1);
  margin-left: calc(var(--space-small) * -1);
  padding: var(--space-smaller) var(--space-small);
  border-radius: var(--radius-large);
  text-align: left;
}

.listHeaderButton:hover {
  background-color: var(--color-grey--lightest);
}

.listHeaderText {
  font-weight: 500;
  white-space: nowrap;
}

.listContent {
  position: relative;
}

.listContent:not(:last-of-type) {
  border-bottom: 1px solid var(--color-border);
}

.listContentItem {
  padding: var(--space-base) var(--space-small);
}

.listContentItem:hover {
  background-color: var(--color-grey--lightest);
}

.listContentSelected .listContentItem {
  background-color: var(--color-lightBlue--lightest);
}

.listContentSelected .listContentItem:hover {
  background-color: var(--color-lightBlue--lighter);
}

.listContentHoverMenu,
.listContentMenu {
  display: flex;
  position: absolute;
  z-index: var(--elevation-base);
  border-radius: var(--radius-larger);
  background-color: var(--color-white);
  gap: var(--space-smaller);
}

.listContentHoverMenu {
  top: -30%;
  right: var(--space-smaller);
  box-shadow: var(--shadow-base);
  padding: var(--space-smaller);
  border: 1px solid var(--color-border);
}

.listContentMenu {
  position: fixed;
  box-shadow: var(--shadow-high);
  flex-direction: column;
  padding: var(--space-small);
}

button.listContentMenuItem {
  display: grid;
  align-items: center;
  gap: var(--space-base);
  grid-template-columns: auto max-content;
  padding: var(--space-small);
  text-align: left;
}

button.listContentMenuItem:hover {
  background-color: var(--color-grey--lightest);
}

.listContentMenuItem b {
  color: var(--color-blue);
  font-weight: 500;
}

.listContentMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--elevation-base);
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.inlineLabel {
  display: flex;
  position: relative;
  overflow: hidden;
  gap: var(--space-smaller);
  flex-wrap: nowrap;
}

.inlineLabel > * {
  padding: var(--space-smallest) var(--space-smaller);
  white-space: nowrap;
}

.overflowTags {
  --overflow-bg: var(--color-white);

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0;
  padding-left: var(--space-base);
  background-image: linear-gradient(
    90deg,
    transparent 0,
    var(--overflow-bg) var(--space-base),
    var(--overflow-bg) 100%
  );
}

.listContentItem:hover .overflowTags {
  --overflow-bg: var(--color-grey--lightest);
}

.listContentSelected .listContentItem .overflowTags {
  --overflow-bg: var(--color-lightBlue--lightest);
}

.listContentSelected .listContentItem:hover .overflowTags {
  --overflow-bg: var(--color-lightBlue--lighter);
}
