.actions {
  display: flex;
  gap: var(--space-base);
}

.filterActions {
  --radius-base: 50px;

  display: flex;
  gap: var(--space-small);
}

.filterActions button {
  border: 1px solid var(--color-border) !important;
}

.filterActions svg {
  width: 16px !important;
  height: 16px !important;
}

.filterActions span {
  font-weight: 400;
}

.list {
  /* do nothing */
}

/* Reset button styling */
.list button {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--timing-base);
  appearance: none;
}

.listHeader,
.listContentItem {
  padding: var(--space-base);
  text-align: left;
}

.listHeader {
  position: sticky;
  top: 0;
  z-index: var(--elevation-base);
  border-bottom: 2px solid var(--color-border);
  background-color: var(--color-surface);
}

.listHeaderText {
  font-weight: 500;
}

.listContent {
  position: relative;
}

.listContent:not(:last-of-type) {
  border-bottom: 1px solid var(--color-border);
}

.listContentItem:hover {
  background-color: var(--color-grey--lightest);
}

.listContentSelected .listContentItem {
  background-color: var(--color-lightBlue--lightest);
}

.listContentSelected .listContentItem:hover {
  background-color: var(--color-lightBlue--lighter);
}

.listContentHoverMenu,
.listContentMenu {
  display: flex;
  position: absolute;
  z-index: var(--elevation-base);
  border-radius: var(--radius-larger);
  background-color: var(--color-white);
  gap: var(--space-smaller);
}

.listContentHoverMenu {
  top: -30%;
  right: var(--space-smaller);
  box-shadow: var(--shadow-base);
  padding: var(--space-smaller);
  border: 1px solid var(--color-border);
}

.listContentMenu {
  position: fixed;
  box-shadow: var(--shadow-high);
  flex-direction: column;
  padding: var(--space-small);
}

button.listContentMenuItem {
  display: grid;
  align-items: center;
  gap: var(--space-base);
  grid-template-columns: auto max-content;
  padding: var(--space-small);
  text-align: left;
}

button.listContentMenuItem:hover {
  background-color: var(--color-grey--lightest);
}

.listContentMenuItem b {
  color: var(--color-blue);
  font-weight: 500;
}

.listContentMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--elevation-base);
  width: 100%;
  height: 100%;
  background-color: transparent;
}
