.tableElement {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.tableElement tbody tr {
  border-bottom: var(--border-base) solid var(--color-border);
}

.tableElement tbody tr:last-child {
  border-bottom: none;
}
