.header {
  --offset: 1px;
  --sticky-header-transition-properties: var(--timing-base) ease-in-out;

  position: sticky;
  top: calc(var(--offset) * -1);
  z-index: var(--elevation-base);
  padding-top: var(--offset);
  background-color: var(--color-surface);
}

/**
 * Draw a border that gets covered by the column headers border when it shows up.
 *
 * Mostly to prevent us from writing some complex JS to remove the border when
 * the column headers show up.
 */

.header::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  width: 0;
  height: 0;
  background-color: var(--color-border);
  transform: translateX(-50%);
  transition: height var(--sticky-header-transition-properties)
      var(--timing-quick),
    width var(--sticky-header-transition-properties);
}

.stuck::before {
  width: 100%;
  height: var(--border-thick);
  transition: height var(--sticky-header-transition-properties),
    width var(--sticky-header-transition-properties) var(--timing-quick);
}
