.header {
  --offset: 1px;

  position: sticky;
  top: calc(var(--offset) * -1);
  z-index: var(--elevation-base);
  padding-top: var(--offset);
  background-color: var(--color-surface);
}

/**
 * Use an inner box shadow to create the border that gets covered by the column
 * headers border when it shows up.
 *
 * Mostly to prevent us from writing some complex JS to remove the border when
 * the column headers show up
 */
.stuck {
  box-shadow: inset 0 calc(var(--border-thick) * -1) var(--color-border);
}
