:root {
  --tab--height: calc(var(--space-larger) + var(--space-small));
  --tab--inset: var(--space-base);
  --public-tab--inset: var(--tab--inset);
}

.tabs {
  display: block;
  width: 100%;
}

.overflow {
  position: relative;
  padding-left: var(--public-tab--inset);
  padding-right: var(--public-tab--inset);
}

.overflowRight:after,
.overflowLeft:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: var(--elevation-base);
  width: var(--space-large);
}

.overflowRight:after {
  right: var(--public-tab--inset);
  box-shadow: inset -16px 0 16px -16px rgba(var(--color-black--rgb), 0.25);
}

.overflowLeft:before {
  left: var(--public-tab--inset);
  box-shadow: inset 16px 0 16px -16px rgba(var(--color-black--rgb), 0.25);
}

.tabRow {
  display: flex;
  margin: 0;
  margin-bottom: calc(-1 * var(--border-base));
  padding: 0;
  border-bottom: solid var(--border-base) var(--color-border);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  gap: var(--space-large);
}

ul.tabRow {
  padding-inline-start: 0;
}

.tabRow li {
  display: flex;
  position: relative;
  list-style: none;
  flex: 0 0 fit-content;
}

.tab {
  height: var(--tab--height);
  margin: 0;
  padding: var(--space-smaller) var(--space-small);
  border: none;
  outline: none;
  color: var(--color-text--secondary);
  background: var(--color-surface);
  cursor: pointer;
  transition: all var(--timing-base);
  flex: 0 0 auto;
}

.tab.selected,
.tab:not(.selected):hover,
.tab:not(.selected):focus {
  color: var(--color-heading);
}

.tab:not(.selected):focus-within {
  outline: none;
  background: var(--color-surface--hover);
}

.selected::after {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--space-smaller);
  background-color: var(--color-interactive);
}

.selected:focus {
  background-color: transparent;
}

.tabContent {
  padding-top: var(--tab--inset);
  padding-bottom: var(--tab--inset);
  padding-left: var(--public-tab--inset);
  padding-right: var(--public-tab--inset);
}
