:root {
  --tab--height: calc(var(--space-larger) + var(--space-small));
  --tab--inset: var(--space-base);
  --public-tab--inset: var(--tab--inset);
}

.tabs {
  display: block;
  width: 100%;
}

.overflow {
  position: relative;
  border-bottom: solid var(--border-base) var(--color-border);
}

.overflowRight:after,
.overflowLeft:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
}

.overflowRight:after {
  right: 0;
  box-shadow: inset -16px 0 16px -16px var(--color-blue);
}

.overflowLeft:before {
  left: 0;
  box-shadow: inset 16px 0 16px -16px var(--color-blue);
}

.tabRow {
  display: flex;
  margin: 0;
  margin-bottom: calc(-1 * var(--border-base));
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

ul.tabRow {
  padding-inline-start: 0;
}

.tabRow li {
  display: flex;
  list-style: none;
}

.tab {
  flex: 0 0 auto;
  height: var(--tab--height);
  margin: 0;
  padding-left: var(--public-tab--inset);
  padding-right: var(--public-tab--inset);
  border: solid var(--border-base) var(--color-border);
  border-left-width: 0;
  outline: none;
  background: var(--color-surface);
  cursor: pointer;
  transition: all var(--timing-base);
}

.tab:hover,
.tab:focus {
  background-color: var(--color-surface--hover);
}

.tab:focus span {
  box-shadow: var(--shadow-focus);
}

.selected {
  border-top-color: var(--color-interactive);
  border-bottom-color: var(--color-surface);
}

.selected:focus {
  background-color: transparent;
}

.tabContent {
  padding-top: var(--tab--inset);
  padding-bottom: var(--tab--inset);
  padding-left: var(--public-tab--inset);
  padding-right: var(--public-tab--inset);
}
