:root {
  --tab--border-color: var(--color-grey--lighter);
  --tab--border-color--selected: var(--color-green);
  --tab--height: calc(var(--space-larger) + var(--space-small));
  --tab--inset: var(--space-base);
}

.tabs {
  display: block;
  width: 100%;
}

.overflow {
  position: relative;
  border-bottom: solid var(--border-base) var(--tab--border-color);
}

.overflowRight:after,
.overflowLeft:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
}

.overflowRight:after {
  right: 0;
  box-shadow: inset -16px 0 16px -16px var(--color-blue);
}

.overflowLeft:before {
  left: 0;
  box-shadow: inset 16px 0 16px -16px var(--color-blue);
}

.tabRow {
  display: flex;
  margin-bottom: calc(-1 * var(--border-base));
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tab {
  flex: 0 0 auto;
  height: var(--tab--height);
  margin: 0;
  padding-left: var(--tab--inset);
  padding-right: var(--tab--inset);
  border: solid var(--border-base) var(--tab--border-color);
  border-right-width: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: all var(--timing-base);
}

.tab:hover,
.tab:focus {
  background-color: var(--color-yellow--lightest);
}

.tab:last-child {
  border-right-width: var(--border-base);
}

.selected {
  border-top-color: var(--tab--border-color--selected);
  border-bottom-color: var(--color-white);
}

.selected:focus {
  background-color: transparent;
}

.tabContent {
  padding: var(--space-base);
}
