.chip {
  display: inline-flex;
  box-sizing: border-box;
  padding: var(--space-small);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-larger);
  background-color: var(--color-surface);
  transition: all var(--timing-base) ease-in-out;
  align-items: center;
}

.clickable {
  box-shadow: var(--shadow-base);
  cursor: pointer;
}

.chip:focus,
.clickable:hover {
  background-color: var(--color-surface--hover);
}

.chip:focus {
  box-shadow: var(--shadow-focus);
}

.chip.active {
  border-color: var(--color-surface--reverse);
  background-color: var(--color-surface--reverse);
}

.disabled {
  border-color: var(--color-disabled);
  background-color: var(--color-disabled--secondary);
}

.disabled p {
  color: var(--color-disabled);
}
