.center {
  --center-measure: 100ch;
  --center-gutters: 0;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--center-measure);
}

.center.andText {
  text-align: center;
}

.center.gutters {
  padding-inline-start: var(--center-gutters);
  padding-inline-end: var(--center-gutters);
}

.center.intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
