.content {
  z-index: var(--elevation-tooltip);
  max-width: var(--popover--width);
  box-shadow: var(--shadow-base);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-base);
  font-size: var(--typography--fontSize-base);
  line-height: normal;
  background: var(--color-surface);
}

/* CAUTION: Tests for content visibility assume this class' presence hides the content
  * so please be careful if you change this class name, or the css rules within.
 */
.content.hidden {
  display: none;
  visibility: hidden;
}

.actions::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--space-base) * -1);
  right: 0;
  left: 0;
  width: 100%;
  height: var(--space-base);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.actions {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.actions button:last-child {
  padding-bottom: var(--space-small);
}

.actionPadding {
  padding-bottom: var(--space-small);
}
