.list {
  margin: 0;
  padding: var(--space-base) var(--space-large);
  list-style: none;
}

.item {
  margin: var(--space-base) 0;
}

.label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: none;
  color: var(--color-text--reverse--secondary);
  font-family: var(--typography--fontFamily-display);
  font-size: var(--base-unit);
  font-weight: 700;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: capitalize;
  background: none;
  cursor: pointer;
  transition: color var(--timing-base);
  appearance: none;
}

.label:hover,
.active {
  color: var(--color-text--reverse);
}

/**
 * Level 2 Navigation
**/
.level2.list {
  margin: var(--space-small) 0 0;
  padding: 0;
}

.level2 .item {
  margin: 0;
}

.level2 .groupLabel {
  margin: var(--space-base) 0 var(--space-small);
  border-bottom: var(--border-base) solid var(--color-greyBlue--lighter);
  color: var(--color-greyBlue--lighter);
  font-family: var(--typography--fontFamily-normal);
  font-size: calc(var(--base-unit) * 0.875);
  font-weight: 700;
  letter-spacing: calc(var(--space-minuscule) / 2);
  cursor: default;
}

.level2 .pageLabel {
  display: flex;
  justify-content: flex-start;
  /* align-items: baseline; */
  padding: var(--space-smaller) 0;
  font-family: var(--typography--fontFamily-normal);
  font-size: var(--typography--fontSize-base);
  font-weight: normal;
  text-transform: none;
}

.level2 .pageLabel::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: var(--space-small);
  height: var(--space-small);
  margin-right: var(--space-base);
  border: var(--border-base) solid var(--color-greyBlue--light);
  border-radius: var(--radius-circle);
  background: none;
  transition: background var(--timing-base);
}

.level2 .pageLabel.active,
.level2 .pageLabel:hover {
  color: var(--color-text--reverse);
}

.level2 .pageLabel.active::before {
  border-color: var(--color-interactive);
  background: var(--color-interactive);
}

/**
 * Level 3 Navigation
*/

.level3.list {
  padding: 0;
}
