:root {
  --statusLabel-icon-diameter: 10px;
}

.statusLabelRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--space-small);
  width: fit-content;
}

.labelTextEndAligned {
  flex-direction: row-reverse;
}
