:root {
  --labelBackgroundColor: var(--color-success--surface);
}

.success {
  --labelBackgroundColor: var(--color-success--surface);
}

.warning {
  --labelBackgroundColor: var(--color-warning--surface);
}

.critical {
  --labelBackgroundColor: var(--color-critical--surface);
}

.inactive {
  --labelBackgroundColor: var(--color-inactive--surface);
}

.informative {
  --labelBackgroundColor: var(--color-informative--surface);
}

.statusLabelRow {
  display: flex;
  width: fit-content;
  padding: 6px 10px 6px 8px;
  border-radius: 12px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  background-color: var(--labelBackgroundColor);
}

/* Reset the <Text> line height so we can reliably get 24px tall */
.statusLabelRow p {
  line-height: 1;
}

.labelTextEndAligned {
  flex-direction: row-reverse;
}

.statusIndicatorWrapper {
  display: flex;
  padding-top: 2px;
}
