.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--public-cluster-space, var(--space-base, 16px));
  justify-content: var(--public-cluster-justify, flex-start);
  align-items: var(--public-cluster-align, center);
  width: var(--public-cluster-width);
}

.collapsed > * {
  flex-basis: auto;
  width: 100%;
  min-width: 0;
}

.collapsed {
  flex-direction: column;
}

/** When we nest clusters, the clustering stops working because of the 100% width. This prevents nested clusters from fighting **/
.cluster .cluster {
  width: auto;
}
