.groupTitle {
  position: relative;
  margin: 30px 0 20px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.swatchGroup {
  margin-bottom: 1rem;
}
