:root {
  --file-card--height: calc(var(--space-base) * 3.5);
  --file-card--background-color: var(--color-white);
  --file-card--header-background-color: var(--color-greyBlue--lighter);
  --file-card--content-background-color: var(--color-white);
  --file-card--border-color: var(--color-border);
  --file-card--accent-color: var(--color-grey);
  --file-card--base-padding: var(--space-small);
  --border-basebackground: var(--color-surface--background);
}

.formatFile {
  display: flex;
  height: var(--file-card--height);
  border: var(--border-base) solid var(--file-card--border-color);
  border-radius: var(--radius-base);
  overflow: hidden;
  background-color: var(--file-card--background-color);
  align-items: center;
  outline-color: var(--color-focus);
}

.imageBlock {
  display: flex;
  position: relative;
  width: var(--file-card--height);
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--border-basebackground);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  object-fit: cover;
  flex-shrink: 0;
}

.imageBlockOverlay::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  mix-blend-mode: multiply;
}

.icon {
  margin: 0 auto;
}

.fileContentWrapper {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thumbailIconWrapper {
  align-self: center;
}

.thumbnailFilename {
  display: flex;
  position: absolute;
  bottom: var(--space-small);
  left: var(--space-small);
}

.thumbnailFilenameSmall {
  display: flex;
  position: absolute;
  bottom: var(--space-smaller);
  left: var(--space-smaller);
}

.thumbnailNonImage::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    270deg,
    rgb(244, 244, 244) 38.46%,
    rgba(244, 244, 244, 0) 100%
  );
}

.thumbnail .fileContentWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.progress {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  padding: var(--file-card--base-padding);
  align-items: center;
}

.contentBlock {
  flex-grow: 1;
  padding: 0 var(--file-card--base-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentBlock p {
  margin: 0;
}

.actionBlock {
  padding: 0 var(--file-card--base-padding) 0 0;
}

.thumbnail {
  display: flex;
  position: relative;
  font-weight: var(--message-weight);
}

.deleteButton {
  position: absolute;
  top: var(--space-smaller);
  right: var(--space-smaller);
  z-index: 1;
}

.bold {
  --message-weight: 800;
  transform: uppercase;
}
