.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto max-content;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-items: center;
}

.hasName:not(.large) {
  align-items: end;
}

.fileName {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.base .fileName {
  padding: var(--space-smaller);
  font-size: var(--typography--fontSize-smaller);
}

.large .fileName {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--space-small);
  font-size: var(--typography--fontSize-small);
}
