.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading {
  display: none;
}

.content {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.content::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  border: var(--border-base);
  border-radius: var(--radius-base);
  background: linear-gradient(
    270deg,
    rgb(244, 244, 244) 38.46%,
    rgba(244, 244, 244, 0) 100%
  );
}

.content.base::after {
  width: var(--space-base);
  height: var(--space-base);
}

.content.large::after {
  width: var(--space-large);
  height: var(--space-large);
}

.fileName {
  position: absolute;
}

.base .fileName {
  bottom: var(--space-smaller);
  left: var(--space-smaller);
  font-size: var(--typography--fontSize-smaller);
}

.large .fileName {
  bottom: var(--space-small);
  left: var(--space-small);
  font-size: var(--typography--fontSize-small);
}
