.inputWrapper {
  margin-bottom: 1rem;
  line-height: 1.2;
}

.inputWrapper:focus-within {
  --input-border-color: #ddc30f;
}

.small .input {
  height: 2.25em;
}

.normal {}

.large {
  font-size: 18px;
}

.label {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  color: #657884;
}

.input {
  padding: 0 1rem;
  height: 3em;
  width: 100%;
  background-color: var(--input-background-color);
  border: 2px solid var(--input-border-color, #e1e1e1);
  border-radius: 4px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input::placeholder {
  display: block !important;
  transition: all 0ms linear 500ms;
}

.input:disabled {
  --input-background-color: #f4f4f4;
  opacity: 0.6;
}

.input:not(:placeholder-shown) + .labelContent {
  --input-label-transform: scale(0.75) translate(1px, calc(-3px + -1em));
  opacity: 1;
}

textarea.input {
  padding-top: calc(1em - 1px);
}

textarea.input + .labelContent {
  --input-label-transform: translateY(-0.5em);
}

textarea.input:not(:placeholder-shown) + .labelContent {
  --input-label-transform: scale(0.75) translate(1px, calc(-4px + -1.5em));
}

.labelContent {
  position: absolute;
  align-self: center;
  left: 1rem;
  border: 2px solid transparent;
  transform: var(--input-label-transform, none);
  transform-origin: top left;
  transition: transform 100ms, opacity 100ms;
  opacity: 0;
  pointer-events: none;
}
