.loadingItem {
  padding: var(--space-small);
}

.mobileLoadingState {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--space-largest);
  padding: var(--space-base) 0;
}
