.action {
  display: flex;
  width: 100%;
  padding: var(--menu-space);
  border: none;
  border-radius: var(--radius-base);
  outline: transparent;
  text-align: start;
  background-color: transparent;
  cursor: pointer;
  gap: var(--menu-space);
  align-items: center;
  transition:
    background-color var(--timing-base) ease-in,
    box-shadow var(--timing-base) ease-in;
}

.action:hover,
.action:focus-visible {
  background-color: var(--color-surface--hover);
}

.action:focus-visible {
  box-shadow: var(--shadow-focus);
}

.action span {
  /* match appearance of Button labels */
  -webkit-font-smoothing: antialiased;
}

.action.destructive > span {
  color: var(--color-destructive);
}

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
