.wrapper * {
  box-sizing: border-box;
}

.wrapper {
  display: inline-block;
  position: relative;
}

.menu {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--elevation-menu);
  width: 100%;
  max-height: 72vh;
  padding: var(--space-small);
  padding-bottom: env(safe-area-inset-bottom);
  border: var(--border-base) solid var(--color-grey--lighter);
  border-radius: var(--radius-base) var(--radius-base) 0 0;
  overflow-y: scroll;
  background-color: var(--color-white);
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 640px), print {
  .menu {
    position: absolute;
    z-index: var(--elevation-menu);
    width: calc(var(--base-unit) * 12.5);
    max-height: 300px;
    box-shadow: var(--shadow-base);
    padding: var(--space-small);
    border: var(--border-base) solid var(--color-grey--lighter);
    border-radius: var(--radius-base);
    overflow: auto;
    background-color: var(--color-white);
  }

  .above {
    bottom: 100%;
    margin-bottom: var(--space-smallest);
  }

  .below {
    top: 100%;
    bottom: auto;
    margin-top: var(--space-smallest);
  }
}

.section {
  padding: var(--space-small) 0;
  border-bottom: var(--border-base) dotted var(--color-grey);
}

.section:first-of-type {
  padding-top: 0;
}

.section:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.sectionHeader {
  padding: var(--space-small);
}

.action {
  display: flex;
  width: 100%;
  padding: var(--space-small);
  border: none;
  border-radius: var(--radius-base);
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.action:hover,
.action:focus {
  background-color: var(--color-yellow--lightest);
  outline-color: var(--color-outline);
}

.icon {
  margin-right: var(--space-base);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--elevation-menu);
  background-color: var(--color-greyBlue);
  opacity: 0.8;
}

@media only screen and (min-width: 640px), print {
  .overlay {
    background-color: transparent;
  }
}
