.wrapper * {
  box-sizing: border-box;
}

.wrapper {
  display: inline-block;
  position: relative;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--elevation-menu);
  width: 100%;
  max-height: 72vh;
  padding: var(--space-small);
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--space-small));
  border-radius: var(--radius-base) var(--radius-base) 0 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  background-color: var(--color-surface);

  @media (--medium-screens-and-up) {
    position: absolute;
    left: auto;
    width: calc(var(--base-unit) * 12.5);
    box-shadow: var(--shadow-base);
    padding: var(--space-small);
    border: var(--border-base) solid var(--color-border);
    border-radius: var(--radius-base);
    overflow: auto;
  }
}

.above {
  @media (--medium-screens-and-up) {
    bottom: 100%;
    margin-bottom: var(--space-smallest);
  }
}

.below {
  @media (--medium-screens-and-up) {
    top: 100%;
    bottom: auto;
    margin-top: var(--space-smallest);
  }
}

.left {
  @media (--medium-screens-and-up) {
    right: 0;
    left: auto;
  }
}

.right {
  @media (--medium-screens-and-up) {
    right: auto;
    left: 0;
  }
}

.section {
  padding: var(--space-small) 0;
  border-bottom: var(--border-base) dotted var(--color-border);
}

.section:first-of-type {
  padding-top: 0;
}

.section:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.sectionHeader {
  padding: var(--space-small);
}

.action {
  display: flex;
  width: 100%;
  padding: var(--space-small);
  border: none;
  border-radius: var(--radius-base);
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.action:hover,
.action:focus {
  background-color: var(--color-surface--hover);
  outline-color: var(--color-focus);
}

.icon {
  margin-right: var(--space-base);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--elevation-menu);
  background-color: var(--color-overlay);

  @media (--medium-screens-and-up) {
    background-color: transparent;
  }
}

.fullWidth {
  width: 100%;
}

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
