.dataTableContainer {
  border: var(--border-base) solid var(--color-border);
}

.tableContainer {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table thead tr th {
  padding: var(--space-base);
  border-bottom: var(--border-base) solid var(--color-border);
  white-space: nowrap;
}

.table tbody tr {
  border-bottom: var(--border-base) solid var(--color-border);
}

.table tbody tr:last-child {
  border-bottom: none;
}

.table tbody tr td {
  padding: var(--space-base);
}

.pinFirstColumn thead tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  height: calc(var(--space-largest) + var(--space-smaller));
  background-color: var(--color-white);
}

.pinFirstColumn tbody tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  height: calc(var(--space-largest) + var(--space-smaller));
  background-color: var(--color-white);
}

.stickyHeader {
  position: sticky;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
}

.pinFirstColumn th:first-child::after,
.pinFirstColumn td:first-child::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: var(--space-minuscule);
  height: 100%;

  box-shadow: 1px 0px 0px rgba(63, 63, 68, 0.05),
    3px 0px 3px rgba(63, 63, 68, 0.15);
  background-color: transparent;
}
