.sortIcon {
  padding-right: var(--space-small);
}
.sortIcon path {
  fill: var(--color-greyBlue);
}

.sortIcon path.active {
  fill: var(--color-blue);
}

.sortIcon path.inactive {
  fill: var(--color-greyBlue--lighter);
}
