.inputWrapper {
  height: 3em;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.inputWrapper:focus-within {
  --input-border-color: #ddc30f;
}

.small {
  height: 2.25em;
}

.large {
  font-size: 18px;
}

.inputWrapper label {
  position: relative;
  color: #657884;
}

.inputWrapper input {
  height: 100%;
  padding: 0 1rem;
  background-color: var(--input-background-color);
  border: 2px solid var(--input-border-color, #e1e1e1);
  border-radius: 4px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.inputWrapper input::placeholder {
  display: block !important;
  transition: all 0ms linear 500ms;
}

.inputWrapper input:disabled {
  --input-background-color: #f4f4f4;
  opacity: 0.6;
}

.inputWrapper input:not(:placeholder-shown) + .labelContent {
  --input-label-transform: scale(0.75) translate(5px, -100%);
  opacity: 1;
  transition: transform 100ms;
}

.labelContent {
  position: absolute;
  top: 0;
  left: 2px;
  padding-left: 1rem;
  transform: var(--input-label-transform, none);
  transform-origin: top left;
  transition: transform 100ms, opacity 60ms;
  opacity: 0;
  pointer-events: none;
}
