# prettier-ignore

version: 2.1

orbs:
  aws-cli: circleci/aws-cli@0.1.1
  aws-s3: circleci/aws-s3@1.0.8

references:
  container_config: &container_config
    docker:
      - image: circleci/node:10
    working_directory: ~/atlantis

  restore_repo: &restore_repo
    restore_cache:
      keys:
        - v1-repo-{{ .Branch }}-{{ .Revision }}
        - v1-repo-{{ .Branch }}
        - v1-repo

  sum_lockfiles: &sum_lockfiles
    run:
      name: Sum Lockfiles
      command: md5sum package-lock.json packages/*/package-lock.json > /tmp/lock-sums

  restore_npm_cache: &restore_npm_cache
    restore_cache:
      name: Restore npm cache
      keys:
        - npm-cache-v1-{{ arch }}-{{ checksum "/tmp/lock-sums" }}
        - npm-cache-v1

  npm_install: &npm_install
    run:
      name: Install Dependencies
      command: npm ci

  github_authenticity: &github_authenticity
    run:
      name: Establishing GitHub Authenticity
      command: mkdir -p ~/.ssh; echo 'github.com ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==' >> ~/.ssh/known_hosts

  generate_base_path: &generate_base_path
    run:
      name: Generate S3 Path
      command: |
        echo 'export PULL_REQUEST_NUMBER=$(basename "${CIRCLE_PULL_REQUEST}")' >> $BASH_ENV
        echo 'export BASE_PATH=${PULL_REQUEST_NUMBER:-${CIRCLE_BRANCH}}' >> $BASH_ENV

jobs:
  checkout_code:
    <<: *container_config
    steps:
      - *restore_repo
      - checkout
      - save_cache:
          key: v1-repo-{{ .Branch }}-{{ .Revision }}
          paths:
            - .

  install_dependencies:
    <<: *container_config
    steps:
      - *restore_repo
      - *sum_lockfiles
      - *restore_npm_cache
      - *npm_install
      - save_cache:
          name: Save npm cache
          key: npm-cache-v1-{{ arch }}-{{ checksum "/tmp/lock-sums" }}
          paths:
            - ~/.npm

  lint_javascript:
    <<: *container_config
    steps:
      - *restore_repo
      - *sum_lockfiles
      - *restore_npm_cache
      - *npm_install
      - run: npm run lint:js -- --format junit -o reports/junit/js-lint-results.xml
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

  lint_css:
    <<: *container_config
    steps:
      - *restore_repo
      - *sum_lockfiles
      - *restore_npm_cache
      - *npm_install
      - run: mkdir -p reports/junit
      - run: npm run lint:css -- --custom-formatter node_modules/stylelint-junit-formatter > reports/junit/css-lint-results.xml
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

  test:
    <<: *container_config
    steps:
      - *restore_repo
      - *sum_lockfiles
      - *restore_npm_cache
      - *npm_install
      - run:
          name: "Run tests with jest"
          command:
            npm test -- --runInBand --no-cache --coverage --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
      - store_artifacts:
          path: coverage

  build_docs:
    <<: *container_config
    steps:
      - *restore_repo
      - *sum_lockfiles
      - *restore_npm_cache
      - *npm_install
      - *generate_base_path
      - run: npm run build -- --base "/${BASE_PATH}/"
      - store_artifacts:
          path: ~/atlantis/.docz/dist
          destination: docs
      - attach_workspace:
          at: /tmp/workspace
      - run: cp -r ~/atlantis/.docz/dist /tmp/workspace/
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - dist

  release:
    <<: *container_config
    steps:
      - *restore_repo
      - *sum_lockfiles
      - *restore_npm_cache
      - *npm_install
      - *github_authenticity
      - add_ssh_keys:
          fingerprints:
            - "39:99:9f:56:1c:70:0e:53:6a:ed:64:14:c3:a8:e2:ce"
      - run:
          name: Authenticate with npm
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/atlantis/.npmrc
      - run:
          name: Release Packages
          command: |
            if git log --max-count=1 --pretty=%s | grep -q "chore(release): Publish"; then
              echo "Skipping run on release commit."
            else
              npm run ci:release
            fi

workflows:
  version: 2

  atlantis:
    jobs:
      - checkout_code
      - install_dependencies:
          requires:
            - checkout_code
      - lint_javascript:
          requires:
            - install_dependencies
      - lint_css:
          requires:
            - install_dependencies
      - test:
          requires:
            - install_dependencies
      - build_docs:
          requires:
            - install_dependencies
      - release:
          filters:
            branches:
              only: "master"
          requires:
            - lint_javascript
            - lint_css
            - test
            - build_docs
