.checkbox {
  --checkbox-size: 20px;
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.checkHolder {
  position: relative;
}

.input {
  /* Hide checkbox on UI but not screen readers and still allow focus state */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

.checkBox {
  display: flex;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  box-sizing: border-box;
  border: var(--border-thick) solid var(--color-border);
  border-radius: var(--radius-small);
  background-color: var(--color-surface);
  transition: all var(--timing-quick) ease-out;
  justify-content: center;
  align-items: center;
}

.disabled .checkBox {
  border-color: var(--color-disabled--secondary);
}

.input.indeterminate + .checkBox,
.input:checked + .checkBox {
  border-color: var(--color-interactive);
  background-color: var(--color-interactive);
}

.input:focus-visible + .checkBox {
  box-shadow: var(--shadow-focus);
}

.checkBox:hover,
.checkbox:hover .checkBox {
  border-color: var(--color-interactive);
}

.disabled p {
  color: var(--color-disabled);
}

.disabled .checkBox > * {
  opacity: 0;
}

.disabled .input.indeterminate + .checkBox,
.disabled .input:checked + .checkBox {
  border-color: var(--color-disabled--secondary);
  background-color: var(--color-disabled--secondary);
}

.disabled .input.indeterminate + .checkBox > *,
.disabled .input:checked + .checkBox > * {
  opacity: 1;
}

.label {
  margin: 0 var(--space-small);
  margin-top: var(--space-smallest);
}

.description {
  margin-bottom: var(--space-small);
  padding-left: calc(var(--checkbox-size) + var(--space-small));
}
