.checkbox {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.checkHolder {
  position: relative;
  margin-top: var(--space-smallest);
}

.input {
  /* Hide checkbox on UI but not screen readers and still allow focus state */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

.checkBox {
  display: flex;
  width: var(--space-base);
  height: var(--space-base);
  box-sizing: border-box;
  border: var(--border-thick) solid var(--color-interactive);
  border-radius: var(--radius-base);
  background-color: var(--color-surface);
  transition: all 200ms;
  justify-content: center;
  align-items: center;
}

.disabled .checkBox {
  border-color: var(--color-disabled--secondary);
}

.disabled p {
  color: var(--color-disabled);
}

.disabled .checkBox > * {
  opacity: 0;
}

.input.indeterminate + .checkBox,
.input:checked + .checkBox {
  border-color: var(--color-interactive);
  background-color: var(--color-interactive);
}

.input:focus + .checkBox {
  box-shadow: var(--shadow-focus);
}

.disabled .input.indeterminate + .checkBox,
.disabled .input:checked + .checkBox {
  border-color: var(--color-disabled--secondary);
  background-color: var(--color-disabled--secondary);
}

.disabled .input.indeterminate + .checkBox > *,
.disabled .input:checked + .checkBox > * {
  opacity: 1;
}

.label {
  margin: 0 var(--space-small);
}

.description {
  margin-bottom: var(--space-small);
  padding-left: var(--space-large);
}
