.hasValidationMessage {
  margin-top: var(--space-smaller);
}

.message {
  display: flex;
  align-items: center;
  padding: var(--space-smaller) 0;
}

.message > svg {
  margin-right: var(--space-smaller);
  flex-shrink: 0;
  align-self: flex-start;
}

.message:focus {
  box-shadow: var(--shadow-focus);
  outline: none;
}
