:root {
  --switch--pipSize: calc(var(--space-base) * 1.875);
  --switch--labelWidth: calc(var(--switch--pipSize) * 1.3);
  --switch--borderOffset: calc(var(--border-base) * 2);
}

:root :global(.jobber-retheme) {
  --switch--pipSize: var(--space-base);
}

.track,
.track * {
  box-sizing: border-box;
  transition: all var(--timing-base);
}

.track {
  display: inline-flex;
  width: calc(var(--switch--labelWidth) + var(--switch--pipSize));
  padding: 0;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--switch--pipSize);
  overflow: hidden;
  line-height: normal;
  background-color: var(--color-surface--background);
  cursor: pointer;
  appearance: none;
}

:global(.jobber-retheme) .track {
  width: var(--space-largest);
  height: var(--space-large);
  border-color: var(--color-interactive);
  border-width: var(--border-thick);
  background-color: var(--color-surface);
  align-items: center;
}

.track:focus-visible {
  box-shadow: var(--shadow-focus);
  outline: none;
}

.isChecked {
  border-color: var(--color-interactive);
  background-color: var(--color-interactive);
}

:global(.jobber-retheme) .isChecked {
  background-color: var(--color-interactive);
}

.toggle {
  display: flex;
  position: relative;
  margin-left: calc(-1 * var(--switch--labelWidth));
  pointer-events: none;
  flex: 1 1 100%;
  align-items: center;
}

:global(.jobber-retheme) .toggle {
  margin-left: -37px;
}

.isChecked .toggle {
  margin-left: calc(-1 * var(--switch--borderOffset));
}

:global(.jobber-retheme) .isChecked .toggle {
  margin-left: -13px;
}

.label {
  display: flex;
  position: relative;
  min-width: var(--switch--labelWidth);
  margin-top: var(--space-minuscule);
  user-select: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.label:first-of-type {
  padding-left: var(--space-small);
}

.label:last-of-type {
  padding-right: var(--space-small);
}

:global(.jobber-retheme) .label {
  opacity: 0;
}

.pip {
  flex: 0 0 auto;
  width: var(--switch--pipSize);
  height: var(--switch--pipSize);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-circle);
  background-color: var(--color-surface);
  transition: all var(--timing-quick) ease-out;
}

:global(.jobber-retheme) .pip {
  border: none;
  background-color: var(--color-interactive--subtle);
}

.isChecked .pip {
  border-color: var(--color-green);
}

:global(.jobber-retheme) .isChecked .pip {
  background-color: var(--color-surface);
}

/* Moving this up overwrites disabled styling */
/* stylelint-disable-next-line no-descending-specificity */
.disabled .pip {
  border-color: var(--color-disabled--secondary);
}

.disabled,
:global(.jobber-retheme) .disabled {
  border-color: var(--color-disabled--secondary);
  background-color: var(--color-disabled--secondary);
  cursor: not-allowed;
}
