.switch {
  --switch--width: 48px;
  --switch--pipSize: 16px;
  --switch--borderOffset: var(--border-thick);
  --switch-pipOnPosition: calc(
    var(--switch--width) - var(--switch--pipSize) -
      (var(--switch--borderOffset) * 2) - var(--space-smallest)
  );
  --switch-pipOffPosition: var(--space-smallest);
}

.track,
.track * {
  box-sizing: border-box;
  transition: all var(--timing-base) ease-in-out;
}

.track {
  display: inline-flex;
  position: relative;
  width: var(--switch--width);
  height: calc(var(--switch--width) / 2);
  padding: 0;
  border: var(--border-thick) solid var(--color-border--interactive);
  border-radius: var(--switch--pipSize);
  overflow: hidden;
  line-height: normal;
  background-color: var(--color-inactive--surface);
  cursor: pointer;
  appearance: none;
  align-items: center;
}

.track:focus-visible {
  box-shadow: var(--shadow-focus);
  outline: none;
}

.track:hover,
.track:focus-visible {
  border-color: var(--color-interactive);
}

.isChecked {
  border-color: var(--color-interactive);
  background-color: var(--color-interactive);
}

.isChecked:hover {
  border-color: var(--color-interactive--hover);
  background-color: var(--color-interactive--hover);
}

.toggle {
  width: var(--switch--pipSize);
  height: var(--switch--pipSize);
  border: none;
  border-radius: var(--radius-circle);
  background-color: var(--color-inactive--onSurface);
  transform: translateX(var(--switch-pipOffPosition));
}

.isChecked .toggle {
  border-color: var(--color-interactive);
  background-color: var(--color-surface);
  transform: translateX(var(--switch-pipOnPosition));
}

.disabled .toggle {
  border-color: var(--color-disabled--secondary);
  background-color: var(--color-disabled);
}

.disabled.isChecked .toggle {
  background-color: var(--color-surface);
}

.disabled {
  border-color: var(--color-disabled);
  background-color: var(--color-surface);
  cursor: not-allowed;
}

.isChecked.disabled {
  background-color: var(--color-disabled);
}

.isChecked.disabled .pip {
  background-color: var(--color-surface);
}

.disabled:hover {
  border-color: var(--color-disabled);
}

.icon {
  display: flex;
  position: absolute;
  transform: translateX(
    calc(
      var(--switch-pipOffPosition) + var(--switch--pipSize) +
        var(--space-smaller)
    )
  );
}

.isChecked .icon {
  transform: translateX(
    calc(
      var(--switch-pipOnPosition) - var(--switch--pipSize) -
        var(--space-smaller)
    )
  );
}
