:root {
  --switch--pipSize: calc(var(--space-base) * 1.875);
  --switch--labelWidth: calc(var(--switch--pipSize) * 1.3);
  --switch--borderOffset: calc(var(--border-base) * 2);
}

.track,
.track * {
  box-sizing: border-box;
  transition: all var(--timing-base);
}

.track {
  display: inline-flex;
  width: calc(var(--switch--labelWidth) + var(--switch--pipSize));
  padding: 0;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--switch--pipSize);
  overflow: hidden;
  line-height: normal;
  background-color: var(--color-surface--background);
  cursor: pointer;
  appearance: none;
}

.track:focus {
  box-shadow: var(--shadow-focus);
  outline: none;
}

.isChecked {
  border-color: var(--color-interactive);
  background-color: var(--color-interactive);
}

.toggle {
  display: flex;
  position: relative;
  margin-left: calc(-1 * var(--switch--labelWidth));
  pointer-events: none;
  flex: 1 1 100%;
  align-items: center;
}

.isChecked .toggle {
  margin-left: calc(-1 * var(--switch--borderOffset));
}

.label {
  display: flex;
  position: relative;
  min-width: var(--switch--labelWidth);
  margin-top: var(--space-minuscule);
  user-select: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.label:first-of-type {
  padding-left: var(--space-small);
}

.label:last-of-type {
  padding-right: var(--space-small);
}

.pip {
  flex: 0 0 auto;
  width: var(--switch--pipSize);
  height: var(--switch--pipSize);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-circle);
  background-color: var(--color-surface);
}

.isChecked .pip {
  border-color: var(--color-green);
}

.disabled {
  border-color: var(--color-disabled--secondary);
  background-color: var(--color-surface--background);
  cursor: not-allowed;
}

.disabled .pip {
  border-color: var(--color-disabled--secondary);
}
