.container,
.container * {
  box-sizing: border-box;
}

.container {
  --pipSize: 32px;
  --labelWidth: calc(var(--pipSize) * 1.25);

  display: inline-block;
  width: calc(var(--labelWidth) + var(--pipSize));
  height: var(--pipSize);
  transition: all var(--timing-quick);
}

.toggle {
  display: block;
  width: inherit;
  height: inherit;
  padding: 0;
  border: var(--border-base) solid var(--color-grey--lighter);
  border-radius: calc(var(--pipSize) / 2);
  overflow: hidden;
  line-height: normal;
  background-color: var(--color-grey--lightest);
  cursor: pointer;
  appearance: none;
}

.toggle:focus {
  box-shadow: 0 0 4px 1px var(--color-yellow--light);
  outline: none;
}

.isChecked .toggle {
  border-color: var(--color-green);
  background-color: var(--color-green);
}

.track {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  position: relative;
  transform: translateX(calc(-1 * var(--labelWidth)));
  transition: all var(--timing-base);
}

.isChecked .track {
  transform: translateX(0);
}

.label {
  position: relative;
  min-width: var(--labelWidth);
  text-align: center;
  user-select: none;
  pointer-events: none;
}

.label:first-of-type {
  padding-left: var(--space-smaller);
}

.label:last-of-type {
  padding-right: var(--space-smaller);
}

.pip {
  flex: 0 0 auto;
  width: calc(var(--pipSize) - 2px);
  height: calc(var(--pipSize) - 2px);
  border: var(--border-base) solid var(--color-grey);
  border-radius: calc(var(--pipSize) / 2);
  background-color: var(--color-white);
  transition: all var(--timing-base);
}

.isChecked .pip {
  border-color: var(--color-green);
}
