.switch {
  --switch--width: 48px;
  --switch--pipSize: 16px;
  --switch--labelWidth: calc(var(--switch--pipSize) * 1.3);
  --switch--borderOffset: var(--border-thick);
}

.track,
.track * {
  box-sizing: border-box;
  transition: all var(--timing-base);
}

.track {
  display: inline-flex;
  width: var(--switch--width);
  height: calc(var(--switch--width) / 2);
  padding: 0;
  border: var(--border-thick) solid var(--color-border--interactive);
  border-radius: var(--switch--pipSize);
  overflow: hidden;
  line-height: normal;
  background-color: var(--color-surface);
  cursor: pointer;
  appearance: none;
  align-items: center;
}

.track:focus-visible {
  box-shadow: var(--shadow-focus);
  outline: none;
}

.track:hover,
.track:focus-visible {
  border-color: var(--color-interactive);
}

.isChecked {
  border-color: var(--color-interactive);
  background-color: var(--color-interactive);
}

.toggle {
  display: flex;
  position: relative;
  margin-left: calc(var(--switch--width) / -2);
  pointer-events: none;
  flex: 1 1 100%;
  align-items: center;
}

.isChecked .toggle {
  margin-left: 0;
}

.label {
  display: flex;
  position: relative;
  min-width: var(--switch--labelWidth);
  margin-top: var(--space-minuscule);
  user-select: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.label:first-of-type {
  padding-left: var(--space-small);
}

.label:last-of-type {
  padding-right: var(--space-small);
}

.pip {
  flex: 0 0 auto;
  width: var(--switch--pipSize);
  height: var(--switch--pipSize);
  border: none;
  border-radius: var(--radius-circle);
  background-color: var(--color-interactive--subtle);
  transition: all var(--timing-quick) ease-out;
}

.isChecked .pip {
  border-color: var(--color-interactive);
  background-color: var(--color-surface);
}

.disabled .pip {
  border-color: var(--color-disabled--secondary);
  background-color: var(--color-disabled);
}

.disabled {
  border-color: var(--color-disabled);
  background-color: var(--color-surface);
  cursor: not-allowed;
}

.isChecked.disabled {
  background-color: var(--color-disabled);
}

.isChecked.disabled .pip {
  background-color: var(--color-surface);
}

.disabled:hover {
  border-color: var(--color-disabled);
}
