.card {
  --card--accent-color: var(--color-grey);
  --card--base-padding: var(--space-base);
  --card--border: var(--border-base) solid var(--color-border);

  display: block;
  width: 100%;
  border: var(--card--border);
  border-radius: var(--radius-base);
  outline-color: var(--color-focus);
  background-color: var(--color-surface);
}

.card:active {
  outline: 0;
}

/* Adjust `Content` components public padding to match the cards */

.card > * {
  --public-content--padding: var(--card--base-padding);
}

/* Remove the nested `Content` components public padding */

.card > * > * {
  --public-content--padding: 0;
}

.accent {
  border-top-width: 0;
}

.accent::before {
  content: " ";
  display: block;
  margin: 0 calc(-1 * var(--border-base));
  border-top: 0.375rem solid var(--card--accent-color);
  border-radius: var(--radius-base) var(--radius-base) 0 0;
}

.clickable {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  transition: all var(--timing-base) ease-out;
}

.clickable:hover,
.clickable:focus {
  background-color: var(--color-surface--hover);
}

.header {
  display: flex;
  padding: var(--card--base-padding);
  padding-bottom: 0;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-small);
}

.ai {
  border: var(--border-base) solid var(--color-ai--surface--bold);
}

@property --rotate-ai-animated {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.ai-animated {
  position: relative;
  padding: var(--border-base);
  border: none;
  border-radius: var(--radius-base);
  background-color: var(--color-surface);
}

.ai-animated::before {
  content: "";
  position: absolute;
  z-index: -1;
  margin: var(--border-base);
  border-radius: inherit;
  background-image: conic-gradient(
    from var(--rotate-ai-animated),
    var(--color-base-teal--600),
    var(--color-base-teal--500),
    var(--color-base-red--600),
    var(--color-base-orange--500),
    var(--color-base-yellow--200),
    var(--color-base-red--600),
    var(--color-base-orange--500),
    var(--color-base-teal--600),
    var(--color-base-teal--500),
    var(--color-base-teal--600),
    var(--color-base-teal--500),
    var(--color-base-red--600),
    var(--color-base-orange--500),
    var(--color-base-yellow--200),
    var(--color-base-red--600),
    var(--color-base-orange--500),
    var(--color-base-teal--600),
    var(--color-base-teal--500)
  );
  animation: ai-animated-spin 3.5s linear infinite;
  inset: calc(-1 * var(--border-thick));
}

@keyframes ai-animated-spin {
  0% {
    --rotate-ai-animated: 0deg;
  }

  100% {
    --rotate-ai-animated: 360deg;
  }
}
