.indigo {
  --accent-color: var(--color-indigo);
}

.blue {
  --accent-color: var(--color-blue);
}

.blueLighter {
  --accent-color: var(--color-blue--lighter);
}

.greyBlue {
  --accent-color: var(--color-grey-blue);
}

.greyDark {
  --accent-color: var(--color-grey--dark);
}

.grey {
  --accent-color: var(--color-grey);
}

.greyLight {
  --accent-color: var(--color-grey--light);
}

.greyLighter {
  --accent-color: var(--color-grey--lighter);
}

.green {
  --accent-color: var(--color-green);
}

.lime {
  --accent-color: var(--color-lime);
}

.yellowGreen {
  --accent-color: var(--color-yellow--green);
}

.yellow {
  --accent-color: var(--color-yellow);
}

.red {
  --accent-color: var(--color-red);
}

.orange {
  --accent-color: var(--color-orange);
}

.pink {
  --accent-color: var(--color-pink);
}

.purple {
  --accent-color: var(--color-purple);
}

.navy {
  --accent-color: var(--color-navy);
}

.lightBlue {
  --accent-color: var(--color-light-blue);
}

.lightBlueLighter {
  --accent-color: var(--color-light-blue--lighter);
}

.teal {
  --accent-color: var(--color-teal);
}

.brown {
  --accent-color: var(--color-brown);
}

.white {
  --accent-color: var(--color-white);
}
