.card {
  --card--accent-color: var(--color-grey);
  --card--base-padding: var(--space-base);
  --card--border: var(--border-base) solid var(--color-border);

  display: block;
  width: 100%;
  box-sizing: border-box;
  border: var(--card--border);
  border-radius: var(--radius-base);
  outline-color: var(--color-focus);
  background-color: var(--color-surface);
}

.card:active {
  outline: 0;
}

/* Adjust `Content` components public padding to match the cards */

.card > * {
  --public-content--padding: var(--card--base-padding);
}

/* Remove the nested `Content` components public padding */

.card > * > * {
  --public-content--padding: 0;
}

.accent {
  border-top-width: 0;
}

.accent::before {
  content: " ";
  display: block;
  position: relative;
  top: var(--border-base);
  height: calc(0.375rem - var(--border-base) * 2);
  box-shadow: 0 0 0 var(--border-base) var(--card--accent-color);
  margin: 0 0 calc(var(--border-base) * 2);
  border-radius: var(--radius-base) var(--radius-base) 0 0;
  background-color: var(--card--accent-color);
}

.clickable {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  transition: all var(--timing-base) ease-out;
}

.clickable:hover,
.clickable:focus {
  background-color: var(--color-surface--hover);
}

.header {
  display: flex;
  padding: var(--card--base-padding);
  padding-bottom: 0;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-small);
}
