.card {
  --card-background-color: var(--color-white);
  --header-background-color: var(--color-grey--lightest);
  --content-background-color: var(--color-white);
  --border-color: var(--color-grey--lighter);
  --accent-color: var(--color-grey);
  --base-padding: var(--space-base);

  display: block;
  padding: var(--base-padding);
  border: var(--border-base) solid var(--border-color);
  border-radius: var(--radius-base);
  overflow: auto;
  outline-color: var(--color-outline);
  background-color: var(--card-background-color);
}

.card:not(:last-child) {
  margin-bottom: var(--space-base);
}

.card:active {
  outline: 0;
}

.accent {
  border-top: 0.5rem solid var(--accent-color);
}

.clickable {
  --border-color: transparent;

  box-shadow: var(--shadow-base);
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  transition: all var(--timing-quick) linear;
}

.clickable:hover,
.clickable:focus {
  background-color: var(--color-yellow--lightest);
}

.fill {
  margin-top: calc(-1 * var(--base-padding));
  margin-bottom: calc(1 * var(--base-padding));
  margin-left: calc(-1 * var(--base-padding));
  margin-right: calc(-1 * var(--base-padding));
}

.header {
  padding: var(--base-padding);
  background-color: var(--header-background-color);
}
