.lowElevation,
.baseElevation,
.highElevation {
  --card--border: none;
}

.lowElevation {
  box-shadow: var(--shadow-low);
}

.baseElevation {
  box-shadow: var(--shadow-base);
}

.highElevation {
  box-shadow: var(--shadow-high);
}
