.datePicker {
  border-color: var(--color-border) !important;
  border-radius: var(--radius-base) !important;
}

.datePicker :global(.react-datepicker__header) {
  padding-top: 0;
  background: var(--color-surface);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
