/* 
  faking a border with a background on the parent element, gaps & padding
  to prevent double borders on overlapping boxes
*/
.container {
  display: grid;
  width: 100%;
  padding: var(--space-smaller);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-large);
  grid-template-columns: repeat(7, 1fr);
  row-gap: var(--space-smaller);
  column-gap: var(--space-smaller);
}

.checkboxWrapper {
  position: relative;
}

/* kept present but hidden for accessibility */
.container input[type="checkbox"] {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.dayCheckbox {
  display: block;
  padding: 1rem;
  border-radius: var(--radius-large);
  text-align: center;
  user-select: none;
  background: var(--color-surface);
  transition: 300ms;
}

.dayCheckbox:hover {
  background: var(--color-surface--hover);
}

.container input[type="checkbox"]:focus + .dayCheckbox {
  box-shadow: var(--shadow-focus);
  background: var(--color-surface--hover);
}

.container input[type="checkbox"]:checked + .dayCheckbox {
  color: var(--color-white);
  background: var(--color-interactive);
}

.container input[type="checkbox"]:disabled + .dayCheckbox {
  color: var(--color-disabled);
  background: var(--color-surface--background);
  cursor: default;
}

.container input[type="checkbox"]:enabled + .dayCheckbox {
  cursor: pointer;
}

.container input[type="checkbox"]:checked:focus + .dayCheckbox {
  background: var(--color-interactive--hover);
}

.container input[type="checkbox"]:checked + .dayCheckbox:hover {
  background: var(--color-interactive--hover);
}

.container input[type="checkbox"]:disabled:checked + .dayCheckbox {
  color: var(--color-disabled--secondary);
  background: var(--color-disabled);
}
