/* 
  faking a border with a background on the parent element, gaps & padding
  to prevent double borders on overlapping boxes
*/
.container {
  display: grid;
  width: 100%;
  padding: var(--space-smaller);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-large);
  grid-template-columns: repeat(7, 1fr);
  row-gap: var(--space-smaller);
  column-gap: var(--space-smaller);
}
