.icon {
  fill: var(--color-greyBlue);
  display: inline-block;
  vertical-align: middle;
}

.longArrowUp {
  transform: rotate(90deg);
}

.longArrowDown {
  transform: rotate(-90deg);
}

.thumbsDown {
  transform: scaleY(-1);
}

.person,
.clients,
.company,
.property {
  fill: var(--color-teal);
}

.job,
.jobOnHold {
  fill: var(--color-job);
}

.visit,
.moveVisits {
  fill: var(--color-lime);
}

.event {
  fill: var(--color-yellow);
}

.quote {
  fill: var(--color-quote);
}

.request {
  fill: var(--color-request);
}

.task {
  fill: var(--color-navy);
}

.userUnassigned,
.reminder,
.trash {
  fill: var(--color-destructive);
}

.checkmark {
  fill: var(--color-success);
}

.timer {
  fill: var(--color-lightBlue);
}

.invoice,
.invoiceLater,
.sendInvoice,
.paidInvoice {
  fill: var(--color-invoice);
}

.badInvoice {
  fill: var(--color-critical);
}

.payment,
.expense {
  fill: var(--color-orange);
}

.video {
  fill: var(--color-lightBlue);
}

/* non-Atlantis colors to match brand colors of these file-types */

.excel {
  fill: rgb(31, 115, 71);
}

.pdf {
  fill: rgb(195, 27, 0);
}

.word {
  fill: rgb(41, 86, 154);
}

.runningTimer {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: spinning;
  animation-timing-function: linear;
}

@keyframes spinHands {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
