@import "../../foundation.css";

.small {
  width: var(--base-unit);
  height: var(--base-unit);
}

.base {
  width: calc(var(--base-unit) * 1.5);
  height: calc(var(--base-unit) * 1.5);
}

.large {
  width: calc(var(--base-unit) * 2);
  height: calc(var(--base-unit) * 2);
}
