/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @author Lea Verou
 */

pre {
  --color-code--yellow: var(--color-base-yellow--600);
  --color-code--lime: var(--color-base-lime--600);
  --color-code--pink: var(--color-base-pink--600);
  --color-code--orange: var(--color-base-orange--600);
  --color-code--teal: var(--color-base-teal--600);
}

:root[data-theme="dark"] pre {
  --color-code--yellow: var(--color-base-yellow--300);
  --color-code--lime: var(--color-base-lime--300);
  --color-code--pink: var(--color-base-pink--300);
  --color-code--orange: var(--color-base-orange--300);
  --color-code--teal: var(--color-base-teal--300);
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 0.4em 0.8em;
  margin: 0.5em 0;
  overflow: auto;
  background-size: 1em 1em;
}

code[class*="language-"] {
  color: var(--color-text);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.2em;
  border-radius: 0.3em;
  box-shadow: none;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #aaa;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: var(--color-code--teal);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: var(--color-code--yellow);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
  color: var(--color-code--lime);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--color-code--pink);
}

.token.regex,
.token.important {
  color: var(--color-code--orange);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: var(--color-critical);
}

/* Plugin styles: Diff Highlight */
pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
  background-color: rgba(255, 0, 0, 0.3);
  display: inline;
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
  background-color: rgba(0, 255, 128, 0.3);
  display: inline;
}
