.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color-surface--background);
  z-index: var(--elevation-modal);
  display: flex;
  flex-direction: column;
  animation: slideIn 200ms ease-out;
}

@media screen and (min-width: 768px) {
  .overlay,
  .drawer {
    display: none;
  }
}

.header {
  padding: var(--space-base);
}

.content {
  flex: 1;
  overflow-y: hidden;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}