.menuLink {
    padding-left: 6;
    padding: var(--space-small) var(--space-small);
    color: var(--color-heading);
    border-radius: var(--radius-base);
    margin: 0 var(--space-small) var(--space-smaller) var(--space-small);
    display: flex;
    align-items: center;
}

.menuLink a {
    color: var(--color-heading);
    font-weight: 700;
    font-size: var(--typography--fontSize-base);
    text-decoration: none;
    user-select: none;
    outline: 0
}

.subRoute {
    margin-left: 12px;
}