.menuLink,
.subMenuLink {
  display: flex;
  margin: 0 var(--space-small) var(--space-smaller) var(--space-base);
  padding-left: 6;
  border-radius: var(--radius-base);
  color: var(--color-heading);
  align-items: center;
}

.menuLink a,
.subMenuLink a {
  margin: 0;
  padding: var(--space-small) var(--space-small);
  outline: transparent;
  color: var(--color-heading);
  font-size: var(--typography--fontSize-base);
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  user-select: none;
  transition: all var(--timing-base) ease-out;
}

.menuLink a:hover,
.subMenuLink a:hover {
  background-color: var(--color-surface--background--hover);
}

.subRoute {
  margin-left: 12px;
}