
.navMenuSticky {
  background-color: var(--color-surface--background);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
  padding: 36px var(--space-base) var(--space-large) var(--space-base);
  position: fixed;
  width: 188px;
  z-index: 1;
}

.navMenu {
  background-color: var(--color-surface--background);
  box-sizing: border-box;
  color: var(--color-typography-text);
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
  height: calc(100dvh - 120px);
  margin-top: 120px;
  overflow: auto;
  padding: 0 var(--space-base) var(--space-base) var(--space-base);
  width: 188px;
}

.navMenuItem {
  align-items: center;
  display: flex;
  margin: var(--space-smaller) 0;
  min-height: 40px;
  overflow-wrap: anywhere;
  transition: all var(--timing-base) ease-out;
  user-select: none;
}

.navMenuLink {
  color: var(--color-typography-text);
  outline: transparent;
  text-decoration: none;

  &:visited {
    color: var(--color-typography-text);
  }

  &:hover {
    background-color: var(--color-surface);
    color: var(--color-typography-text);
  }
}

.navMenuSubItem {
  padding-left: var(--space-base);
}

.navMenuSubTitle {
  min-height: 24px;
}