.searchButton {
  display: flex;
  align-items: center;
  border: var(--border-base) solid var(--color-border--interactive);
  border-radius: var(--radius-base);
  padding: var(--space-small);
  background: var(--color-surface);
  outline: transparent;
  cursor: pointer;
  transition: all var(--timing-base) ease-out;

  &:focus-visible {
      box-shadow: var(--shadow-focus);
      background-color: var(--color-surface--background--hover);
  }
}

.searchButton:hover {
  background: var(--color-surface--background--hover);
  border: var(--border-base) solid var(--color-interactive--subtle--hover);
}

.searchButtonText {
  margin: 0 var(--space-small);
  display: none;
  flex: 1;
  text-align: start;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.searchKeyIndicator {
  background: var(--color-surface--background);
  width: 20px;
  height: 20px;
  font-size: var(--typography--fontSize-large);
  color: var(--color-text);
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-low);
  @media screen and (min-width: 768px) {
    display: flex;
  }
}