.input {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 1em;
  font: inherit;
  line-height: inherit;
  background: none;
  border: 0;
  border-radius: 4px;
  outline: none;
}

.input:disabled {
  background-color: #f3f3f3;
  opacity: 0.4;
}

.multiline.input {
  position: relative;
  padding-bottom: 1em;
  line-height: initial;
  text-overflow: clip;
  white-space: normal;
  vertical-align: top;
  resize: vertical;
}
