.container {
  position: relative;
}

.textWrapper {
  position: absolute;
  top: 14px;
  left: 17px;
  font-size: 16px;
  z-index: 2;
  pointer-events: none;
}

.maskText {
  opacity: 0;
}

.description {
  margin-top: 6px;
}
