.table {
  --border-color: var(--color-grey--lighter);
  --header-border-color: var(--color-blue);
  --horizontal-inset: var(--space-base);
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.table::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - 1px);
  height: 100%;
  border: solid 1px var(--border-color);
  border-radius: var(--radius-base);
}

.table * {
  position: relative;
  z-index: 2;
}

.row:not(:last-child) {
  border-bottom: solid 1px var(--border-color);
}

.header .row {
  border-bottom: solid 1px var(--header-border-color);
  font-weight: bold;
  text-transform: uppercase;
}

.footer .row {
  border-top: solid var(--space-smaller) var(--border-color);
}
