.table {
  --border-color: var(--color-grey--lighter);
  --header-border-color: var(--color-blue);
  --horizontal-inset: 0.5rem;

  width: 100%;
  border-collapse: collapse;
}

.row:not(:last-child) {
  border-bottom: solid 1px var(--border-color);
}

.header .row {
  border-bottom: solid 1px var(--header-border-color);
  font-weight: bold;
  text-transform: uppercase;
}

.footer .row {
  border-top: solid 4px var(--border-color);
}
