.autocomplete {
  position: relative;
}

.options {
  display: none;
  position: absolute;
  z-index: var(--elevation-menu);
  width: 100%;
  box-shadow: var(--shadow-base);
  box-sizing: border-box;
  margin: 0;
  padding: var(--space-small);
  border: var(--border-base) solid var(--color-grey--lighter);
  border-radius: var(--radius-base);
  overflow: auto;
  background-color: var(--color-white);
}

.options.visible {
  display: block;
}

.option {
  display: block;
  width: 100%;
  padding: var(--space-small);
  border: none;
  border-radius: var(--radius-base);
  text-align: left;
  list-style: none;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--timing-base);
}

.option:hover,
.option:focus,
.option.active {
  background-color: var(--color-yellow--lightest);
  outline-color: var(--color-outline);
}

.options:hover .option.active:not(:hover) {
  background-color: transparent;
  outline-color: transparent;
}
