.action {
  display: grid;
  width: 100%;
  min-height: 44px;
  padding: var(--space-small);
  border: none;
  border-radius: 0;
  text-align: left;
  background: none;
  cursor: pointer;
  transition: background var(--timing-base) ease;
  appearance: none;
  align-items: center;
  grid-template-columns: minmax(var(--space-large), max-content) auto;
  gap: var(--space-small);
}

.action:hover {
  background-color: var(--color-surface--hover);
}

.label {
  font-weight: 500;
}
