.search {
  position: relative;
}

.searchInput {
  width: 100%;
  padding: var(--space-base);
  padding-right: calc(var(--space-large) * 2.25);
  border: none;
  border-bottom: var(--border-base) solid var(--color-border);
  font-family: var(--typography--fontFamily-normal);
  font-size: var(--typography--fontSize-base);
}

.searchInput::-webkit-search-decoration,
.searchInput::-webkit-search-cancel-button,
.searchInput::-webkit-search-results-button,
.searchInput::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.searchInput:focus {
  outline: none;
}

.clearSearch {
  display: flex;
  position: absolute;
  top: 50%;
  right: var(--space-base);
  z-index: var(--elevation-tooltip);
  width: var(--space-large);
  height: var(--space-large);
  padding: 0;
  border: none;
  border-radius: var(--radius-circle);
  background-color: var(--color-surface--background);
  cursor: pointer;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
}

.clearSearch:focus {
  box-shadow: var(--shadow-focus);
}
