/**
 * Used in the wrapping chips component:
 * - InternalChipSingleSelect
 * - InternalChipMultiSelect
 */

:root {
  --color-surface--background--hover: var(
    --color-greyBlue--lighter); /* delete once PR 1545 has merged */
}

.wrapper {
  display: flex;
  gap: var(--space-small);
  flex-wrap: wrap;
  align-items: center;
}

.chip {
  display: inline-grid;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  min-height: calc(var(--space-largest) - var(--space-small));
  padding: var(--space-small) var(--space-base);
  border-radius: calc(var(--space-base) + var(--space-smaller));
  color: var(--color-heading);
  text-align: left;
  vertical-align: middle;
  background-color: var(--color-surface--background);
  transition: var(--timing-base) ease-in-out;
  transition-property: background-color, box-shadow, color;
  grid-template-columns: max-content;
  align-items: center;
  gap: var(--space-small);
}

.hasPrefix {
  grid-template-columns: min-content 1fr;
  padding-left: var(--space-small);
}

.hasSuffix,
.active {
  grid-template-columns: 1fr min-content min-content;
  padding-right: var(--space-small);
}

.hasPrefix.hasSuffix {
  grid-template-columns: min-content 1fr min-content;
}

.clickable,
.input ~ .chip {
  cursor: pointer;
  appearance: none;
}

/**
 * Interaction
 */

.chip:focus,
.input:focus ~ .chip {
  box-shadow: var(--shadow-focus);
  outline: none;
}

.clickable:hover,
.input ~ .chip:not(.active):hover,
.input:focus ~ .chip:not(.active) {
  background-color: var(--color-surface--background--hover);
}

/**
 * States
 */

.activeIndicator {
  display: none;
  width: var(--space-large);
  height: var(--space-large);
  border-radius: var(--radius-circle);
  background-color: var(--color-surface);
}

.chip.active .activeIndicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.chip.invalid {
  border-color: var(--color-critical--onSurface);
  color: var(--color-critical--onSurface);
  background-color: var(--color-critical--surface);
}

.chip.disabled {
  border-color: var(--color-disabled--secondary);
  color: var(--color-disabled);
  background-color: var(--color-disabled--secondary);
}

.active.disabled {
  border-color: var(--color-disabled);
  color: var(--color-white);
  background-color: var(--color-disabled);
}

.invalid.disabled {
  border-color: var(--color-critical);
}

/**
 * Input checkbox/radio
 *
 * Hide checkbox on UI but not screen readers and still allow focus state
 */

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

/**
 * Button
 */

.button {
  display: flex;
  border-radius: var(--radius-base);
  cursor: pointer;
  transition: background-color 200ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--color-surface--hover);
}

.button:focus,
.clickable .button:hover {
  box-shadow: var(--shadow-focus);
  outline: none;
}

/**
 * Override icon default colors.
 *
 * NOTE: This is a workaround since some icons have default colors that we don't
 * want to override until the component color prop overrides it.
 * DO NOT COPY!
 */

.icon > svg {
  fill: var(--color-interactive--subtle);
}

.icon {
  display: flex;
}
