.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: var(--space-large);
  left: 50%;
  z-index: var(--elevation-toast);
  font-size: var(--typography--fontSize-large);
  transform: translateX(-50%);
}

.toast {
  box-shadow: var(--shadow-base);
  overflow: hidden;
}

.toast + .toast {
  margin-top: var(--space-base);
}

.slice {
  display: flex;
  align-items: center;
  padding: var(--space-base);
  border-radius: var(--radius-base);
  background: var(--color-white);
}

.icon {
  margin-right: var(--space-base);
}

.button {
  margin-left: var(--space-base);
}

.action {
  margin-left: var(--space-small);
}
