.slice {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-base);
  padding: var(--space-base);
  border-radius: var(--radius-base);
}

.slice + .slice {
  margin-top: var(--space-base);
}

.icon {
  margin-right: var(--space-base);
}

.message {
  padding-right: var(--space-base);
}

.button {
  margin-left: auto;
}
