.radioGroup {
  --radio--checked-thickness: 6px;
  --radio-diameter: 20px;
  --radio--checked-shadow: 0px 0px 0px var(--space-minuscule) transparent;
  display: inline-flex;
  flex-direction: column;
}

.input {
  /* Hide checkbox on UI but not screen readers and still allow focus state */
  position: absolute;
  left: -999vw;
}

.label {
  display: inline-flex;
  font-size: var(--typography--fontSize-base);
  cursor: pointer;
  align-items: flex-start;
}

.input + .label::before {
  content: "";
  display: block;
  width: var(--radio-diameter);
  height: var(--radio-diameter);
  box-sizing: border-box;
  margin-right: var(--space-small);
  border: var(--border-thick) solid var(--color-border--interactive);
  border-radius: 100%;
  background-color: var(--color-surface);
  transition: all var(--timing-quick) ease-out;
  flex-shrink: 0;
}


.verticallyCentered .input + .label::before {
  align-self: center;
}

.input:hover + .label::before {
  border-color: var(--color-interactive);
}

.input:checked + .label::before {
  border-color: var(--color-interactive);
  border-width: var(--radio--checked-thickness);
  background-color: var(--color-surface);
}

.input:focus-visible:checked + .label:before {
  box-shadow: var(--shadow-focus);
}

.input[disabled] + .label {
  color: var(--color-disabled);
  cursor: not-allowed;
}

.input[disabled] + .label::before {
  border-color: var(--color-disabled--secondary);
}

.input[disabled]:checked + .label::before {
  --radio--checked-shadow: 0px 0px 0px var(--space-minuscule)
    var(--color-disabled);
  border-color: var(--color-disabled);
}

.description,
.children {
  margin-top: calc(var(--space-smaller) * -1);
  margin-bottom: var(--space-small);
  padding-left: calc(var(--radio-diameter) + var(--space-small));
}

.input[disabled] + .label + .description > p {
  color: var(--color-disabled);
}
