.radioGroup {
  --radio--checked-thickness: var(--border-thicker);
  --radio-diameter: var(--space-base);
  --radio--checked-shadow: 0px 0px 0px var(--space-minuscule)
    var(--color-interactive--hover);
  display: inline-flex;
  flex-direction: column;
}

:global(.jobber-retheme) .radioGroup {
  --radio--checked-thickness: calc(
    var(--border-thicker) + var(--space-smallest)
  );
  --radio-diameter: calc(var(--space-base) + var(--space-smaller));
  --radio--checked-shadow: 0px 0px 0px var(--space-minuscule) transparent;
}

.input {
  /* Hide checkbox on UI but not screen readers and still allow focus state */
  position: absolute;
  left: -999vw;
}

.label {
  display: inline-flex;
  font-size: var(--typography--fontSize-base);
  cursor: pointer;
  align-items: flex-start;
}

.input + .label::before {
  content: "";
  display: block;
  width: var(--radio-diameter);
  height: var(--radio-diameter);
  box-sizing: border-box;
  margin: var(--space-smallest) var(--space-small) 0 0;
  border: var(--border-thick) solid var(--color-interactive);
  border-radius: 100%;
  background-color: var(--color-surface);
  transition: all var(--timing-quick) ease-out;
  flex-shrink: 0;
}

:global(.jobber-retheme) .input + .label::before {
  margin-top: 0;
  border-color: var(--color-border);
}

.input:hover + .label::before {
  border-color: var(--color-interactive);
}

.input:checked + .label::before {
  box-shadow: var(--radio--checked-shadow);
  border-color: var(--color-interactive--hover);
  border-width: var(--radio--checked-thickness);
  background-color: var(--color-interactive);
}

.input:focus:checked + .label:before {
  box-shadow: var(--radio--checked-shadow), var(--shadow-focus);
}

.input[disabled] + .label {
  color: var(--color-disabled);
  cursor: not-allowed;
}

.input[disabled] + .label::before {
  border-color: var(--color-disabled--secondary);
}

:global(.jobber-retheme) .input:checked + .label::before {
  border-color: var(--color-interactive);
  background-color: var(--color-surface);
}

.input[disabled]:checked + .label::before {
  --radio--checked-shadow: 0px 0px 0px var(--space-minuscule)
    var(--color-disabled);
  border-color: var(--color-disabled);
}

.description,
.children {
  margin-bottom: var(--space-small);
  padding-left: calc(var(--radio-diameter) + var(--space-small));
}

:global(.jobber-retheme) .description,
:global(.jobber-retheme) .children {
  margin-top: calc(var(--space-smaller) * -1);
}

.input[disabled] + .label + .description > p {
  color: var(--color-disabled);
}
