.radioGroup {
  display: inline-flex;
  flex-direction: column;
}

.input {
  /* Hide checkbox on UI but not screen readers and still allow focus state */
  position: absolute;
  left: -999vw;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input + .label::before {
  content: "";
  display: block;
  width: var(--space-base);
  height: var(--space-base);
  box-sizing: border-box;
  margin: 0 var(--space-small) 0 0;
  border: var(--border-thick) solid var(--color-green);
  border-radius: 100%;
  background-color: var(--color-white);
  transition: all var(--timing-base);
}

.input:focus + .label:before {
  box-shadow: 0 0 1px 0.125rem var(--color-outline);
}

.input:checked + .label::before {
  box-shadow: 0px 0px 0px var(--space-miniscule) var(--color-green--dark);
  border-color: var(--color-green--dark);
  border-width: var(--border-thicker);
  background-color: var(--color-green);
}

.input[disabled] + .label {
  color: var(--color-disabled);
  cursor: not-allowed;
}

.input[disabled] + .label::before {
  border-color: var(--color-grey--lighter);
}

.input[disabled]:checked + .label::before {
  box-shadow: 0px 0px 0px var(--space-miniscule) var(--color-disabled);
}

.description {
  margin-bottom: var(--space-small);
  padding-left: var(--space-large);
}
