.headerLabel {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.headerLabel:focus,
.headerLabel:focus-visible {
  outline: none;
}

.headerLabel:focus-visible {
  box-shadow: var(--shadow-focus);
}

.sortable {
  cursor: pointer;
}
