.headerLabel {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.headerLabel:focus,
.headerLabel:focus-visible {
  outline: none;
}

.headerLabel:focus-visible {
  box-shadow: var(--shadow-focus);
}

.sortable {
  cursor: pointer;
}

.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: var(--popover--width);
  box-shadow: var(--shadow-base);
  margin-top: var(--space-smaller);
  padding: var(--space-small) 0;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-larger);
  background: var(--color-surface);
  align-items: flex-start;
}

.option {
  display: flex;
  min-height: calc((var(--space-largest) - var(--space-smaller)));
  box-sizing: border-box;
  margin: 0 var(--space-small);
  padding: var(--space-small);
  font-family: var(--typography--fontFamily-normal);
  font-size: var(--typography--fontSize-base);
  font-weight: 500;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  align-items: center;
}

.option:hover,
.option:focus-visible {
  border-radius: var(--radius-large);
  background-color: var(--color-surface--hover);
}

.optionSelected {
  gap: var(--space-smaller);
}
