.sortIcon {
  width: 18px;
  height: 24px;
}

.sortIcon path {
  fill: var(--color-interactive--subtle);
  transition: opacity var(--timing-base) ease;
}

.sortIcon path.inactive {
  opacity: 0.4;
}

.sortIcon path.active,
.sortIcon:hover path {
  opacity: 1;
}

.sortIcon:hover path.inactive {
  opacity: 0.6;
}
