.container {
  display: flex;
  height: calc(var(--typography--fontSize-large) * 2.25);
  border-top: 2px solid var(--color-surface);
  border-bottom: 2px solid var(--color-surface);
  justify-content: center;
  align-items: center;
  flex: 1 1 0px;
}

.cell {
  display: flex;
  width: calc(var(--typography--fontSize-large) * 2);
  height: calc(var(--typography--fontSize-large) * 2);
  box-sizing: border-box;
  border: 0;
  border-color: transparent;
  border-radius: var(--radius-circle);
  background: transparent;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
}

.alternate .cell {
  width: calc(var(--typography--fontSize-large) * 1.75);
  height: calc(var(--typography--fontSize-large) * 1.75);
}

.container:focus > .cell:not(.selected),
.container.focus > .cell:not(.selected) {
  color: var(--color-text);
  background-color: var(--color-surface--hover);
}

.container:hover .cell:not(.disabled):not(.selected):not(.outOfRange) {
  background-color: var(--color-surface--hover);
}

.selected {
  color: var(--color-surface);
  background-color: var(--color-green);
}

.selected:hover {
  background-color: var(--color-interactive--hover);
}

.range-none:not(.alternate) .highlighted {
  border-color: var(--color-green);
  border-style: solid;
  border-width: 1px;
}
.range-none.alternate .highlighted {
  background-color: var(--color-green--lightest);
}

.range-none .highlighted:hover {
  border-color: var(--color-interactive--hover);
  background-color: var(--color-surface--hover);
}

.disabled {
  color: var(--color-disabled);
}

.range-none {
  background: none;
}

.range-between {
  background-color: var(--color-green--lightest);
}

.range-start {
  background: linear-gradient(
    90deg,
    transparent 50%,
    var(--color-green--lightest) 50%
  );
}

.range-end {
  background: linear-gradient(
    90deg,
    var(--color-green--lightest) 50%,
    transparent 50%
  );
}

.accessibleLabel {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
