.cell {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex: 1 1 0px;
}

.row {
  display: flex;
}

.alternate .cell {
  height: auto;
  padding: var(--space-small) 0 var(--space-small) 0;
  border-bottom: 1px solid var(--color-grey--lighter);
  text-transform: uppercase;
}
