.arrowIconWrapper {
  transform-origin: 50% 50% 0;
  transition: transform var(--timing-base);
  flex-basis: 0;
}

.flippedVertical {
  transform: rotateX(180deg);
}

.summary {
  border: none;
  list-style: none;
  cursor: pointer;
  outline-color: none;
  transition: background var(--timing-quick), box-shadow var(--timing-base);
}

.summary::-webkit-details-marker {
  display: none;
}

.summary:hover,
.summary:focus {
  background: var(--color-yellow--lightest);
}

.summary:focus,
.summary:active {
  box-shadow: var(--shadow-focus);
  border: none;
  outline: none;
}

.summary * {
  pointer-events: none;
}

.summaryWrap {
  align-items: baseline;
  display: flex;
}

.summaryWrap h4 {
  flex: 1 0 0;
}

.content {
  display: block;
}

.details[open] > .content {
  -webkit-animation: openAnimation var(--timing-base);
  animation: openAnimation var(--timing-base);
}

@keyframes openAnimation {
  0% {
    margin-top: calc(var(--space-largest) * -1);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
