.arrowIconWrapper {
  transform-origin: 50% 47.5% 0;
  transition: transform var(--timing-quick);
  flex-basis: 0;
}

.details[open] .arrowIconWrapper {
  transform: rotateX(180deg);
}

.summary {
  padding: var(--space-smaller) 0 var(--space-smallest) 0;
  border: none;
  border-radius: var(--radius-small);
  list-style: none;
  cursor: pointer;
  outline-color: transparent;
  transition: background-color var(--timing-base) ease-out,
    box-shadow var(--timing-base);
}

.summary::-webkit-details-marker {
  display: none;
}

.summary:hover,
.summary:focus-visible {
  background-color: var(--color-surface--hover);
}

.summary:focus,
.summary:active {
  border: none;
  outline: transparent;
}

.summary:focus-visible {
  box-shadow: var(--shadow-focus);
}

.summary * {
  pointer-events: none;
}

.summaryWrap {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.customSummaryWrap {
  align-items: center;
  gap: var(--space-small);
}

.content {
  display: block;
  padding: var(--space-small) 0;
}

.details[open] > .content {
  -webkit-animation: openAnimation var(--timing-base);
  animation: openAnimation var(--timing-base);
}

@keyframes openAnimation {
  0% {
    margin-top: calc(var(--space-small) * -1);
    opacity: 0;
  }

  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
