.wrapper {
  flex: 1;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-small);
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--elevation-base);
  background-color: var(--color-surface);
}

.header:empty {
  display: none;
}

.headerTitles {
  padding: var(--space-small);
  border-bottom: var(--border-thick) solid var(--color-border);
}

.headerLabel > * {
  font-weight: 500;
}

.listItem {
  padding: var(--space-small);
  border-bottom: var(--border-base) solid var(--color-border);
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
}
