.wrapper,
.wrapper * {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: var(--elevation-default);
  flex: 1;
}

.titleContainer {
  display: flex;
  position: relative;
  z-index: var(--elevation-base);
  margin-bottom: var(--space-small);
  align-items: center;
}

.headerFilters {
  display: grid;
  padding: var(--space-small) 0;
  gap: var(--space-small);
  grid-template-columns: auto max-content;
}

.headerTitles {
  display: grid;
  align-items: center;
  min-height: var(--space-largest);
  padding: var(--space-small);
  border-bottom: var(--border-thick) solid var(--color-border);
}

.headerBatchSelect > p {
  font-weight: 500;
}

.headerBatchSelect {
  display: flex;
  align-items: center;
  gap: var(--space-smaller);
  margin: calc(var(--space-small) * -1) 0;
}

.listItem {
  padding: var(--space-small);
  border-bottom: var(--border-base) solid var(--color-border);
}

.selectable {
  display: grid;
  align-items: flex-start;

  @media (--medium-screens-and-up) {
    align-items: center;
  }
}

.headerTitles.selectable,
.selectable {
  grid-template-columns: max-content minmax(0px, auto);
  column-gap: var(--space-small);
}

.listItem .selectable > :first-child {
  padding-top: var(--space-smaller);
  opacity: 1;
  transition: opacity var(--transition-properties);
  --transition-properties: var(--timing-quick) ease-in-out;

  @media (--medium-screens-and-up) {
    padding-top: 0;
    opacity: 0;
  }
}

.listItem:hover .selectable > :first-child,
.listItem:focus-within .selectable > :first-child,
.listItem .selectable.selected > :first-child {
  opacity: 1;
}

.filtering {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-overlay--dimmed);
  align-items: flex-start;
  justify-content: center;
}

.filteringSpinner {
  position: sticky;
  top: 50vh;
}
