.link {
  outline: transparent;
  color: var(--color-interactive);
  text-decoration: underline;
}

.link:hover,
.link:focus {
  color: var(--color-interactive--hover);
  text-decoration-color: var(--color-interactive--hover);
}

.link:focus-visible {
  box-shadow: var(--shadow-focus);
}
