.playground {
  position: relative;
  right: 50%;
  left: 50%;
  margin: var(--space-larger);
  /* width */
  /* margin-left */
}

.playground [data-testid="playground"] {
  position: relative;
  margin: 0 auto !important;
  background: var(--color-white);
  /* width: 900px */
}

/* Draggable div */
.playground [data-testid="playground"] > div:last-of-type > div {
  right: 0 !important;
  width: var(--space-small) !important;
  border-radius: var(--radius-base);
  background: var(--color-grey--lighter);
  transform: translateX(calc(100% + 1px));
}

.playground [data-testid="playground"] > div:last-of-type > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  width: var(--space-smallest);
  height: var(--space-extravagant);
  border-left: 1px solid var(--color-white);
  border-right: 1px solid var(--color-white);
  transform: translate(50%, -50%);
}

.preview {
  padding: var(--space-large);
  border: 1px solid var(--color-grey--lighter);
  border-bottom: none;
  border-radius: var(--radius-base) var(--radius-base) 0 0;
}

.editor {
  padding: var(--space-small);
  border: 1px solid var(--color-grey--lighter);
  border-radius: 0 0 var(--radius-base) var(--radius-base);
  background: var(--color-grey--lightest);
}

.editor textarea {
  outline: none;
}

.error {
  margin: var(--space-smallest) 0;
  padding: var(--space-large);
  border-radius: var(--radius-base);
  color: var(--color-white);
  font-size: var(--typography--fontSize-small);
  white-space: pre-wrap;
  background: var(--color-red);
}
