:root {
  --progress-bar--height: var(--space-base);
}

progress.ProgressBar[value] {
  width: 100%;
  height: var(--progress-bar--height);
  border: none;
  vertical-align: initial;
  appearance: none;
}

progress.ProgressBar[value],
progress.ProgressBar[value]::-webkit-progress-bar {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: calc(var(--progress-bar--height) / 2);
}

progress.ProgressBar[value]::-webkit-progress-bar {
  background-color: var(--color-surface--background);
}

progress.ProgressBar[value]::-webkit-progress-value {
  border-radius: calc(var(--progress-bar--height) / 2);
  background-color: var(--color-interactive);
  transition: all var(--timing-slow) ease-out;
}

progress.ProgressBar[value]::-moz-progress-bar {
  border-radius: calc(var(--progress-bar--height) / 2);
  background-color: var(--color-interactive);
  transition: all var(--timing-slow) ease-out;
}
