:root {
  --progress-bar--borderRadius: 1rem;
  --progress-bar--height: 1rem;
  --progress-bar--backgroundColor: var(--color-grey--lightest);
  --progress-bar--barColor: var(--color-lime);
}

.container {
  width: 100%;
  height: var(--progress-bar--height);
  border-radius: var(--progress-bar--borderRadius);
  background: var(--progress-bar--backgroundColor);
}

.content {
  height: var(--progress-bar--height);
  border-radius: var(--progress-bar--borderRadius);
  background-color: var(--progress-bar--barColor);
  transition: width 0.75s ease-out;
}
