:root {
  --progress-bar--backgroundColor: var(--color-grey--lightest);
  --progress-bar--barColor: var(--color-green);
  --progress-bar--height: var(--space-base);
}

progress[value] {
  width: 100%;
  border: none;
  appearance: none;
}

progress[value],
progress[value]::-webkit-progress-bar {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: calc(var(--progress-bar--height) / 2);
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar--backgroundColor);
}

progress[value]::-webkit-progress-value {
  border-radius: calc(var(--progress-bar--height) / 2);
  background-color: var(--progress-bar--barColor);
  transition: all var(--timing-slow) ease-out;
}

progress[value]::-moz-progress-bar {
  border-radius: calc(var(--progress-bar--height) / 2);
  background-color: var(--progress-bar--barColor);
  transition: all var(--timing-slow) ease-out;
}
