.divider {
  --divider-width: var(--border-base);
  --divider-color: var(--color-border);
  margin: 0;
  padding: 0;
  border: none;
}

.large {
  --divider-width: var(--border-thick);
}

.horizontal {
  height: var(--space-minuscule);
  border-bottom: var(--divider-width) solid var(--divider-color);
}

.vertical {
  width: var(--space-miniscule);
  height: auto;
  border-right: var(--divider-width) solid var(--divider-color);
}
