.divider {
  height: var(--space-miniscule);
  margin: 0;
  border: none;
  border-bottom: var(--border-base) solid var(--color-grey--lighter);
}

.large {
  border-bottom-width: var(--border-large);
}
