.TextField {
  position: relative;
  padding: 0 1em;
  margin: 4px 0 1rem;
  font-size: 14px;
  line-height: 3;
  color: #012939;
}

.TextField::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 0 2px #e0e0e0;
  transition: box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  z-index: 0;
  pointer-events: none;
}

.Small {
  line-height: 2;
}

.Focused::before {
  box-shadow: 0 0 0 2px #ddc30f;
}

.Small .Label {
  display: none;
}

.Large {
  font-size: 16px;
  line-height: 4;
}

.Error .Label {
  color: #ef5733;
}

.Error::before {
  box-shadow: 0 0 0 2px #ef5733;
}

.Label {
  position: absolute;
  font: inherit;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.5);
  transform-origin: top left;
  transition: transform 100ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.Shrink {
  opacity: 1;
  transform: translate(0, -0.5em) scale(calc(10/14));
}

.InputWrapper {
  position: relative;
  margin: 0 -1em;
  font: inherit;
  line-height: inherit;
}

.Input {
  width: 100%;
  padding: 0 1em;
  border: none;
  background: none;
  font: inherit;
  z-index: 1;
  line-height: inherit;
  outline: none;
}

.Label:not(:empty)+.InputWrapper>.Input::placeholder {
  opacity: 0;
}

.Input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.Input:disabled {
  background-color: #f3f3f3;
  opacity: 0.4;
}

.Multiline {
  padding-top: 1em;
  line-height: 1.5;
}

.Multiline .Shrink {
  transform: translate(0, -1em) scale(calc(10/14));
}

.Multiline textarea {
  position: relative;
  margin-bottom: -6px;
  resize: vertical;
  text-overflow: clip;
  white-space: normal;
}
