.TextField {
  position: relative;
  margin: 4px 0 1rem;
  font-size: 14px;
  line-height: 3;
  color: #012939;
}

.TextField::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 0 2px #e0e0e0;
  transition: box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  z-index: 0;
  pointer-events: none;
}

.small {
  line-height: 2;
}

.focused::before {
  box-shadow: 0 0 0 2px #ddc30f;
}

.large {
  font-size: 16px;
  line-height: 4;
}

.error::before {
  box-shadow: 0 0 0 2px #ef5733;
}

.multiline {
  padding-top: 1em;
  line-height: 1.5;
}
