.menu {
  display: flex;
  position: absolute;
  top: var(--space-larger);
  right: 0;
  z-index: var(--elevation-menu);
  box-shadow: var(--shadow-base);
  padding: var(--space-smaller);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-base);
  background-color: var(--color-surface);
  gap: var(--space-smaller);
}
