.menu {
  display: flex;
  position: absolute;
  top: -26px;
  right: 0;
  z-index: var(--elevation-menu);
  box-shadow: var(--shadow-base);
  padding: 0;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-base);
  overflow: visible;
  background-color: var(--color-surface);
  gap: 0;
}
