:root {
  --input-color: var(--color-blue);
  --label-text-color: var(--color-greyBlue--light);
  --input-border-width: 2px;
  --input-border-color: var(--color-grey--lighter);
  --input-background-color: var(--color-white);

  --input-border-color--focused: var(--color-yellow);

  --input-background-color--disabled: var(--color-grey--lightest);

  --label-text-color--error: var(--color-red);
  --input-border-color--error: var(--color-red);
}

.small {
  --input-height: var(--input-height--small, 36px);
}

.normal {
  --input-height: var(--input-height--normal, 48px);
}

.large {
  --input-height: var(--input-height--large, 64px);
  --input-font-size: var(--input-font-size--large, 1em);
}

.error {
  --input-border-color: var(--input-border-color--error);
  --input-border-color--focused: var(--input-border-color--error);
  --label-text-color: var(--label-text-color--error);
}

.inputWrapper {
  margin-bottom: 1em;
  font-family: var(
    --input-font-family,
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif
  );
  font-size: var(--root-font-size, 16px);
}

.inputWrapper:focus-within {
  --input-border-color: var(--input-border-color--focused);
}

.label,
.input::placeholder {
  color: var(--label-text-color);
}

.label {
  display: flex;
  position: relative;
  width: 100%;
  height: var(--input-height);
  font-size: var(--input-font-size, 0.875em);
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em;
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  color: var(--input-color);
  font-family: inherit;
  font-size: inherit;
  background-color: var(--input-background-color);
}

.input:disabled {
  --input-background-color: var(--input-background-color--disabled);
  opacity: 0.6;
}

.labelContent {
  position: absolute;
  left: 1em;
  width: 100%;
  padding: var(--input-border-width);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transform: none;
  transition: transform 100ms, opacity 100ms;
  align-self: center;
  transform-origin: top left;
}

.input:not(:placeholder-shown) + .labelContent {
  opacity: 1;
  transform: scale(0.7) translate(1px, -1em);
}
