.statusIndicator {
  display: inline-block;
  width: var(--statusLabel-icon-diameter);
  height: var(--statusLabel-icon-diameter);
  margin-top: var(--space-minuscule);
  border-radius: 3px;
  background-color: var(--color-success);
  flex-shrink: 0;
}
