:root {
  --base-unit: 16px;

  --space-miniscule: calc(var(--base-unit) / 16);
  --space-smallest: calc(var(--base-unit) / 8);
  --space-smaller: calc(var(--base-unit) / 4);
  --space-small: calc(var(--base-unit) / 2);
  --space-base: calc(var(--base-unit) * 1);
  --space-large: calc(var(--base-unit) * 1.5);
  --space-larger: calc(var(--base-unit) * 2);
  --space-largest: calc(var(--base-unit) * 3);
  --space-extravagant: calc(var(--base-unit) * 4);
}
