@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Disable linter since we need to style body directly. */
/* stylelint-disable-next-line selector-max-type */
body {
  color: var(--color-text);
  font-family: var(--typography--fontFamily-normal);
  font-size: var(--typography--fontSize-base);
  line-height: var(--typography--lineHeight-larger, 1.5);
  background-color: var(--color-surface);
}
