:root {
  --typography--letterSpacing-base: 0;
  --typography--letterSpacing-loose: calc(var(--base-unit) / 40);

  --typography--fontFamily-normal: "Inter", Helvetica, Arial, sans-serif;
  --typography--fontFamily-display: "Jobber Pro", "Poppins", Helvetica, Arial,
    sans-serif;

  /* 42 */
  --typography--fontSize-extravagant: calc(
    var(--typography--fontSize-base) * 2.1
  );
  /* 36 */
  --typography--fontSize-jumbo: calc(var(--typography--fontSize-base) * 1.8);
  /* 28 */
  --typography--fontSize-largest: calc(var(--typography--fontSize-base) * 1.4);
  /* 24 */
  --typography--fontSize-larger: calc(var(--typography--fontSize-base) * 1.2);
  /* 22 */
  --typography--fontSize-large: calc(var(--typography--fontSize-base) * 1.1);
  /* 20 */
  --typography--fontSize-base: calc(var(--base-unit) * 1.125);
  /* 18 */
  --typography--fontSize-small: calc(var(--typography--fontSize-base) * 0.9);
  /* 16 */
  --typography--fontSize-smaller: calc(var(--typography--fontSize-base) * 0.8);
  /* 14 */
  --typography--fontSize-smallest: calc(var(--typography--fontSize-base) * 0.7);
  /* 10 */
  --typography--fontSize-miniscule: calc(
    var(--typography--fontSize-base) * 0.5
  );

  --typography--lineHeight-extravagant: 2.625;
  --typography--lineHeight-jumbo: 2.25;
  --typography--lineHeight-largest: 1.75;
  --typography--lineHeight-larger: 1.5;
  --typography--lineHeight-large: 1.34;
  --typography--lineHeight-base: 1.25;
  --typography--lineHeight-tight: 1.2;
  --typography--lineHeight-tighter: 1.143;
  --typography--lineHeight-tightest: 1.12;
  --typography--lineHeight-miniscule: 1.08;
}

@media (max-width: 639px) {
  :root {
    --typography--fontSize-extravagant: calc(
      var(--typography--fontSize-large) * 2.5
    );
    /* 40 */
    --typography--fontSize-jumbo: calc(
      var(--typography--fontSize-large) * 1.75
    );
    /* 28 */
    --typography--fontSize-largest: calc(
      var(--typography--fontSize-large) * 1.375
    );
    /* 22 */
  }
}
