.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  border-bottom: 1px solid var(--color-grey--lighter);
}

.item:last-child {
  border-bottom: none;
}

.action {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-small);
  border: none;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--timing-base);
  appearance: none;
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover,
.hoverable:focus {
  background-color: var(--color-yellow--lightest);
}

.action > * {
  padding: 8px;
}

.icon {
  flex: 0 0 auto;
  width: 24px;
}

.info {
  flex: 1 1 auto;
  min-width: 0;
  align-self: center;
}

.amount {
  flex: 0 0 auto;
  width: 128px;
  text-align: right;
}

.isActive {
  background-color: var(--color-green--lightest);
}

/* TODO: Move truncate in typography */

.truncate {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section {
  position: relative;
}

.section:not(:last-child) .list {
  padding-bottom: var(--space-large);
}

.sectionHeader {
  position: sticky;
  top: 0;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-blue);
  background-color: var(--color-white);
}

.sectionHeader:first-of-type {
  padding-top: 8px;
}
