.sectionHeader {
  position: sticky;
  top: 0;
  padding: var(--space-small) var(--space-base);
  border-bottom: 1px solid var(--color-border--section);
  background-color: var(--color-white);
}

.greyBlue {
  border-bottom-color: var(--color-greyBlue--light);
  color: var(--color-greyBlue--light);
}

.green {
  border-bottom-color: var(--color-green);
  color: var(--color-green);
}

.blue,
.archived {
  border-bottom-color: var(--color-blue);
  color: var(--color-blue);
}

.orange {
  border-bottom-color: var(--color-orange);
  color: var(--color-orange);
}

.red {
  border-bottom-color: var(--color-red);
  color: var(--color-red);
}

.teal {
  border-bottom-color: var(--color-teal);
  color: var(--color-teal);
}
