:root {
  --public--avatar-size: 32px;
}

.avatar {
  --avatar-size: var(--public--avatar-size);
  --avatar-border-size: var(--border-base);
  --avatar-initials-size: var(--typography--fontSize-small);

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  min-width: var(--avatar-size);
  min-height: var(--avatar-size);
  border-radius: var(--radius-circle);
  color: var(--color-heading);
  font-size: var(--avatar-size);
  -webkit-font-smoothing: antialiased;
  background: no-repeat center center var(--color-interactive--subtle--reverse);
  background-size: cover;
  transition: box-shadow var(--timing-quick) ease-out;
}

.avatar:hover {
  box-shadow: var(--shadow-base);
  background-color: var(--color-interactive--subtle--reverse--hover);
  transition: box-shadow var(--timing-quick) ease-in;
}

.avatar:focus {
  box-shadow: var(--shadow-focus);
  outline: none;
}

.large {
  --avatar-size: 72px;
  --avatar-border-size: var(--border-thick);
  --avatar-initials-size: 28px;
}

.small {
  --avatar-size: 24px;
  --avatar-initials-size: 9px;
}

/* isDark is dynamic and applies only when background is dark */
.isDark {
  color: var(--color-base-white);
}

.initials {
  color: var(--color-text);
  font-family: var(--typography--fontFamily-normal);
  font-size: var(--avatar-initials-size);
  text-transform: uppercase;
}

.smallInitials {
  font-size: calc(var(--avatar-initials-size) * 0.83);
}

.hasBorder {
  width: calc(var(--avatar-size) - (var(--avatar-border-size) * 2));
  height: calc(var(--avatar-size) - (var(--avatar-border-size) * 2));
  box-shadow: 0 0 0 var(--border-thick) var(--color-surface) inset;
  border-style: solid;
  border-width: var(--avatar-border-size);
}
