:root {
  --avatar-size: 2rem;
  --avatar-border-size: 2px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  color: var(--color-white);
  font-size: var(--avatar-size);
  -webkit-font-smoothing: antialiased;
  background: no-repeat center center var(--color-greyBlue);
  background-size: cover;
}

.large {
  --avatar-size: 4.5rem;
  --avatar-border-size: 4px;
}

.initials {
  font-size: 0.5em;
  text-transform: uppercase;
}

.smallInitials {
  font-size: 0.4375em;
}

.hasBorder {
  width: calc(var(--avatar-size) - (var(--avatar-border-size) * 2));
  height: calc(var(--avatar-size) - (var(--avatar-border-size) * 2));
  box-shadow: 0 0 0 2px var(--color-white) inset;
  border-style: solid;
  border-width: var(--avatar-border-size);
}
