:root {
  --avatar-size: 2rem;
  --avatar-color: var(--color-greyBlue);
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-color: var(--avatar-color);
}

.large {
  --avatar-size: 4.5rem;
}
