.sp-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  grid-auto-rows: minmax(50%, auto);
}

.sp-stack {
  min-width: 0;
}

.sandbox {
  display: flex;
}

.localDevNotice {
  padding: var(--base-unit);
  overflow-y: scroll;
  background-color: var(--color-warning);
}

.localDevNotice pre {
  background-color: var(--color-yellow--light);
}
