.descriptionList {
  margin: 0;
}

.termGroup {
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-small) 0;
  border-bottom: var(--border-base) solid var(--color-border);
}

.termGroup:first-child {
  padding-top: 0;
}

.termGroup:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.termGroup dd {
  min-width: calc(var(--base-unit) * 7.5);
  box-sizing: border-box;
  padding-right: var(--space-small);
  margin-inline-start: 0;
  flex: 1 1 60%;
}

.termGroup dt {
  flex: 1 1 40%;
}
