.wrapper {
  display: flex;
  align-items: center;
}

.searchInput {
  --transition-properties: var(--timing-base) ease-in-out;
  --button-offset: calc(var(--space-largest) - var(--space-smaller));

  position: absolute;
  top: 50%;
  right: var(--button-offset);
  visibility: hidden;
  width: 0;
  padding: var(--space-smaller) 0;
  background-color: var(--color-surface);
  opacity: 0;
  transform: translateY(-50%);
  transition:
    opacity var(--transition-properties),
    width var(--transition-properties),
    visibility var(--transition-properties);

  @media not (--medium-screens-and-up) {
    overflow: hidden;
  }
}

.searchInputVisible {
  visibility: visible;
  width: calc(100% - var(--button-offset));
  overflow: visible;
  opacity: 1;
}

.searchInput,
.searchInputVisible {
  @media (--medium-screens-and-up) {
    position: static;
    visibility: visible;
    width: auto;
    padding: 0;
    background-color: transparent;
    opacity: 1;
    transform: none;
    transition: none;
  }
}

.searchButton {
  display: block;

  @media (--medium-screens-and-up) {
    display: none;
  }
}

/*
 * No Filters Styling
 *
 * When there are no filters, the search input is always visible.
 * ------------------------------------------------------------------------- */

.withNoFilters .searchInput {
  position: static;
  visibility: visible;
  width: auto;
  opacity: 1;
  transition: none;

  @media (--medium-screens-and-up) {
    max-width: 30%;
  }
}

.withNoFilters .searchButton {
  display: none;
}
