.strengthGauge {
  height: var(--space-base);
  border-radius: var(--radius-base);
}

.level0 {
  background-color: var(--color-red);
}
.level1 {
  background-color: var(--color-orange);
}
.level2 {
  background-color: var(--color-yellow);
}
.level3 {
  background-color: var(--color-yellowGreen);
}
.level4 {
  background-color: var(--color-green);
}
