.page {
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-base);

  @media (--medium-screens-and-up) {
    padding: var(--space-large);
  }
}

.fill {
  max-width: none;
}

.standard {
  max-width: calc(var(--base-unit) * 80);
}

.narrow {
  max-width: calc(var(--base-unit) * 64);
}

.titleBar h1 {
  flex: 0 1 auto;
  margin-bottom: var(--space-base);
}

.titleBar > .actionGroup {
  flex: 1 0 auto;
}

.titleBar.large,
.titleBar.medium {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleBar.small .actionGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleBar.medium .actionGroup,
.titleBar.large .actionGroup {
  flex-wrap: nowrap;
}

.titleBar.medium .actionGroup {
  justify-content: flex-end;
}

.primaryAction {
  flex: 0 0 100%;
  margin-bottom: var(--space-small);
}

.actionButton {
  margin-top: var(--space-small);
  flex: 1;
}

.actionButton > div {
  width: 100%;
}

.titleBar.small .actionButton {
  margin-top: 0;
}

.titleBar.medium .primaryAction,
.titleBar.medium .actionButton {
  margin: 0;
  flex: 0 auto;
}

.titleBar.medium .actionButton {
  margin-left: var(--space-small);
}

.titleBar.small .actionButton + .actionButton {
  margin-left: var(--space-small);
}

.titleBar .subtitle {
  margin-bottom: var(--space-base);
}
