.tagWrapper {
  position: relative;
}

.tags {
  --inline-label-height: calc(
    var(--typography--fontSize-small) * 1.5 + calc(var(--space-smaller) * 1.5) *
      2
  );

  display: flex;
  z-index: var(--elevation-default);
  max-height: calc(var(--inline-label-height) * 2);
  overflow: hidden;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: var(--space-small);
}

.tagsMask {
  mask-image: linear-gradient(
    to left,
    transparent,
    transparent var(--space-large),
    rgba(0, 0, 0, 1) var(--space-largest),
    rgba(0, 0, 0, 1)
  );
}

.tagCount {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  align-items: center;
}
