.menu {
  position: fixed;
  top: var(--actions-menu-y, 0);
  left: var(--actions-menu-x, 0);
  z-index: var(--elevation-menu);
  min-width: 150px;
  box-shadow: var(--shadow-base);
  padding: var(--space-smaller);
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-larger);
  background-color: var(--color-surface);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--elevation-menu) - 1);
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
}
