.inlineLabel {
  display: inline-flex;
  border-radius: var(--radius-large);
}

.base {
  padding: calc(var(--space-smaller) * 1.5) calc(var(--space-small) * 1.25);
}

.large {
  padding: calc(var(--space-smaller) * 1.5) calc(var(--space-small) * 1.25);
}

.larger {
  padding: calc(var(--space-small) * 1.25) calc(var(--space-smaller) * 3.5);
}

.greyBlue {
  color: var(--color-greyBlue--dark);
  background-color: var(--color-greyBlue--lightest);
}

.red {
  color: var(--color-red--dark);
  background-color: var(--color-red--lightest);
}

.orange {
  color: var(--color-orange--dark);
  background-color: var(--color-orange--lightest);
}

.green {
  color: var(--color-green--dark);
  background-color: var(--color-green--lightest);
}

.blue {
  color: var(--color-blue--dark);
  background-color: var(--color-blue--lightest);
}

.navy {
  color: var(--color-navy--dark);
  background-color: var(--color-navy--lightest);
}

.yellow {
  color: var(--color-yellow--dark);
  background-color: var(--color-yellow--lightest);
}

.lime {
  color: var(--color-lime--dark);
  background-color: var(--color-lime--lightest);
}

.purple {
  color: var(--color-purple--dark);
  background-color: var(--color-purple--lightest);
}

.pink {
  color: var(--color-pink--dark);
  background-color: var(--color-pink--lightest);
}

.teal {
  color: var(--color-teal--dark);
  background-color: var(--color-teal--lightest);
}

.yellowGreen {
  color: var(--color-yellowGreen--dark);
  background-color: var(--color-yellowGreen--lightest);
}

.blueDark {
  color: var(--color-white);
  background-color: var(--color-blue--light);
}

.lightBlue {
  color: var(--color-lightBlue--dark);
  background-color: var(--color-lightBlue--lightest);
}

.indigo {
  color: var(--color-indigo--dark);
  background-color: var(--color-indigo--lightest);
}
