.inlineLabel {
  display: inline-flex;
}

.small {
  padding: calc(var(--space-smallest)) calc(var(--space-small));
  border-radius: var(--radius-large);
}

.base {
  padding: calc(var(--space-smaller) * 1.5) calc(var(--space-small) * 1.25);
  border-radius: var(--radius-large);
}

.base span {
  line-height: 0.75rem;
}

.large {
  padding: calc(var(--space-small) * 1.25) var(--space-slim);
  border-radius: var(--radius-larger);
}

.large span {
  line-height: 1rem;
}

.larger {
  padding: var(--space-slim) calc(var(--space-base));
  border-radius: var(--radius-larger);
}

.larger span {
  line-height: 1rem;
}

.greyBlue {
  color: var(--color-heading);
  background-color: var(--color-inactive--surface);
}

.red {
  color: var(--color-critical--onSurface);
  background-color: var(--color-critical--surface);
}

.orange {
  color: var(--color-base-orange--600);
  background-color: var(--color-base-orange--200);
}

[data-theme="dark"] .orange {
  color: var(--color-base-orange--200);
  background-color: var(--color-base-orange--600);
}

.green,
.success {
  color: var(--color-success--onSurface);
  background-color: var(--color-success--surface);
}

.blue,
.inactive {
  color: var(--color-inactive--onSurface);
  background-color: var(--color-inactive--surface);
}

.navy,
.task {
  color: var(--color-task--onSurface);
  background-color: var(--color-task--surface);
}

.yellow,
.warning {
  color: var(--color-warning--onSurface);
  background-color: var(--color-warning--surface);
}

.lime {
  color: var(--color-base-lime--700);
  background-color: var(--color-base-lime--200);
}

[data-theme="dark"] .lime {
  color: var(--color-base-lime--200);
  background-color: var(--color-base-lime--700);
}

.purple,
.invoice {
  color: var(--color-invoice--onSurface);
  background-color: var(--color-invoice--surface);
}

.pink,
.quote {
  color: var(--color-quote--onSurface);
  background-color: var(--color-quote--surface);
}

.teal {
  color: var(--color-base-teal--700);
  background-color: var(--color-base-teal--200);
}

[data-theme="dark"] .teal {
  color: var(--color-base-teal--200);
  background-color: var(--color-base-teal--700);
}

.yellowGreen,
.job {
  color: var(--color-job--onSurface);
  background-color: var(--color-job--surface);
}

.blueDark {
  color: var(--color-text--reverse--secondary);
  background-color: var(--color-surface--reverse);
}

.lightBlue,
.informative {
  color: var(--color-informative--onSurface);
  background-color: var(--color-informative--surface);
}

.indigo,
.request {
  color: var(--color-request--onSurface);
  background-color: var(--color-request--surface);
}
