.layout {
  min-height: 100vh;

  @media (--wide-screens) {
    display: flex;
  }
}

.menu {
  position: fixed;
  top: var(--space-large);
  z-index: var(--sidebar-z-index);
  margin-left: var(--space-large);
  transition: left 300ms;

  @media (--wide-screens) {
    display: none;
  }
}

.menu.open {
  z-index: calc(var(--sidebar-z-index) + 2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--sidebar-z-index) + 1);
  width: 100%;
  height: 100vh;
  background: var(--color-overlay);

  @media (--wide-screens) {
    display: none;
  }
}

.sidebar {
  position: absolute;
  z-index: calc(var(--sidebar-z-index) + 2);
  flex: 0 0 auto;
  min-height: 100vh;
  transition: left 300ms;

  @media (--wide-screens) {
    position: static;
  }
}

.content {
  flex: 1;
  padding: var(--space-extravagant) 0 var(--space-extravagant);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-large);
}

.skipNav {
  position: absolute;
  top: calc(-1 * var(--space-large));
  left: var(--space-small);
  z-index: 3;
  width: calc(100% - var(--space-base));
  padding: var(--space-base) 0;
  border-radius: var(--radius-base);
  text-align: center;
  background: var(--color-surface);
  opacity: 0;
  transition: all 0.2s ease;

  @media (--wide-screens) {
    box-shadow: var(--shadow-focus);
  }
}

.skipNav:focus-within {
  top: var(--space-small);
  opacity: 1;
}

.skipNav a:visited,
.skipNav a:focus {
  color: var(--color-interactive);
}
