.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 auto;
  min-height: 100vh;
}

.content {
  padding: var(--space-larger) 0 var(--space-extravagant);
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-large);
}
