:root {
  --modal--width: 600px;
}

.overlay {
  display: grid;
  place-items: center;
  z-index: var(--elevation-modal);
}

.overlayBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  background-color: var(--color-overlay);
  will-change: opacity;
}

.modal {
  display: grid;
  position: relative;
  z-index: var(--elevation-modal);
  width: 100%;
  max-width: var(--modal--width);
  box-shadow: var(--shadow-base);
  margin: auto;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-base);
  outline: none;
  background-color: var(--color-surface);
  flex: 0 0 auto;

  /* Grid layout with gutters providing outer spacing */
  grid-template-columns: var(--space-large) 1fr max-content var(--space-large);
  grid-template-rows: var(--space-large) auto 1fr auto var(--space-large);
  grid-template-areas:
    ". . . ."
    ". header dismiss ."
    ". body body ."
    ". footer footer ."
    ". . . .";
}
.modal:focus-visible {
  box-shadow: var(--shadow-focus);
}

.closeButton {
  margin-top: -6px;
  margin-right: -6px;
}

.footer {
  display: flex;
  grid-area: footer;
}

.footerActions {
  display: flex;
  margin-top: var(--space-large);
  margin-left: auto;
  gap: var(--space-small);
  flex-direction: row;
}

.footerOtherActions {
  display: flex;
  margin-top: var(--space-large);
  gap: var(--space-small);
  flex-direction: row;
}

.header {
  grid-area: header;
}

.headerTitle {
  margin-bottom: var(--space-large);
}

.headerDismiss {
  z-index: var(--elevation-modal);
  margin-top: -6px;
  margin-right: -6px;
  grid-area: dismiss;
  justify-self: end;
  align-self: start;
}

.body {
  grid-area: body;
}
