.small {
  --modal--padding: var(--space-base);
  --public-tab--inset: var(--space-base);
  --modal--width: 400px;
  max-width: 400px;
}

.large {
  --modal--width: 940px;
  max-width: 940px;
}

.fullScreen {
  --modal--width: 100vw;
  height: 100dvh;
  max-width: 100vw;
  max-height: 100dvh;
  margin: 0;
  border-radius: 0;
}
