:root {
  --modal--width: calc(var(--base-unit) * 37.5);
  --modal--padding: var(--space-base);
}

@media (--medium-screens-and-up) {
  :root {
    --modal--padding: var(--space-base) var(--space-large);
  }
}

.container {
  display: flex;
  flex-direction: column;
  z-index: var(--elevation-modal);
  padding: var(--space-small);
  overflow: auto;
}

.container,
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay {
  background-color: var(--color-overlay);
}

.modal {
  --public-tab--inset: var(--space-large);

  position: relative;
  flex: 0 0 auto;
  width: 100%;
  max-width: var(--modal--width);
  margin: auto;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-base);
  outline-color: var(--color-focus);
  background-color: var(--color-surface);
}

/* Adjust `Content` components public padding to match the modal */

.modal > * {
  --public-content--padding: var(--modal--padding);
}

/* Remove the nested `Content` components public padding */

.modal > * > * {
  --public-content--padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--modal--padding);
  background-color: var(--color-surface--background);
}

.closeButton {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.actionBar {
  display: flex;
  padding: var(--modal--padding);
  padding-top: 0;
  flex: 1 1 100%;
  justify-content: flex-end;
}

/**
 * 1. Use CSS `order` to adjust the buttons position on the UI
 */

.leftAction {
  flex: 1 1 auto;
  order: 1; /* 1 */
}

.rightAction {
  display: flex;
  flex: 0 0 auto;
  order: 2; /* 1 */
}

.rightAction > * {
  margin-left: var(--space-small);
}

.rightAction *:first-child {
  order: 2; /* 1 */
}

.rightAction *:nth-child(2) {
  order: 1; /* 1 */
}
