:root {
  --modal--width: 600px;
}

.overlay {
  display: grid;
  place-items: center;
  z-index: var(--elevation-modal);
}

.overlayBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  background-color: var(--color-overlay);
  will-change: opacity;
}

.modal {
  position: relative;
  z-index: var(--elevation-modal);
  width: 100%;
  max-width: var(--modal--width);
  box-shadow: var(--shadow-base);
  margin: auto;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-base);
  outline: none;
  background-color: var(--color-surface);
  flex: 0 0 auto;
}
.modal:focus-visible {
  box-shadow: var(--shadow-focus);
}

.closeButton {
  margin-top: -6px;
  margin-right: -6px;
}

.footer {
  display: grid;
}

.footerActions {
  justify-self: flex-end;
  gap: var(--space-small);
  display: flex;
  flex-direction: row;
}

.header {
}

.headerDismiss {
  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--elevation-modal);
  padding: var(--space-small);
}
