.fadeContainer {
  --overflow-fade--offset: var(--space-smaller);
  --overflow-fade--negative-offset: calc(var(--overflow-fade--offset) * -1);

  align-self: center;
  position: relative;
  min-width: 0;
}

.overflowGrid {
  display: grid;
  margin: var(--overflow-fade--negative-offset);
  padding: var(--overflow-fade--offset);
  overflow-x: auto;
  overflow-y: visible;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
}

.overflowGrid > :not(:nth-last-child(2)):not(.overflowTrigger) {
  margin-right: var(--space-small);
}

.overflowTrigger {
  visibility: hidden;
}

.overflowLeft::before,
.overflowRight::after {
  content: "";
  position: absolute;
  top: 0;
  width: var(--space-large);
  height: 100%;
  background-image: linear-gradient(
    var(--data-list-overflow-shadow-angle, to right),
    var(--color-surface) 0%,
    rgba(var(--color-white--rgb), 0) 100%
  );
  pointer-events: none;
}

.overflowLeft::before {
  left: var(--overflow-fade--negative-offset);
}

.overflowRight::after {
  --data-list-overflow-shadow-angle: to left;
  right: var(--overflow-fade--negative-offset);
}
