.label {
  position: absolute;
  top: 0;
  left: 1em;
  font: inherit;
  line-height: inherit;
  color: var(--text-color, rgba(0, 0, 0, 0.5));
  transition: transform 100ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  transform-origin: top left;
}

.shrink {
  transform: translate(0, -0.5em) scale(calc(10 / 14));
}

.error {
  --text-color: var(--error);
}
