@value error from "../../style/colors.css";

.label {
  color: rgba(0, 0, 0, 0.5);
  font: inherit;
  left: 1em;
  line-height: inherit;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition: transform 100ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.shrink {
  transform: translate(0, -0.5em) scale(calc(10 / 14));
}

.error {
  color: error;
}
