.gallery,
.galleryLarge {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-small);
}

.galleryLarge {
  gap: var(--space-base);
}

.baseShowMoreButton {
  display: flex;
  width: 56px;
}

.largeShowMoreButton {
  display: flex;
  width: 168px;
}
