.flex {
  display: flex;
}

.grid {
  display: grid;
}

.column {
  flex-direction: column;
}

.smallestGap {
  gap: var(--space-smallest);
}

.smallerGap {
  gap: var(--space-smaller);
}

.smallGap {
  gap: var(--space-small);
}

.baseGap {
  gap: var(--space-base);
}

.largeGap {
  gap: var(--space-large);
}

.noneGap {
  gap: 0;
}

.flex.startAlign {
  align-items: flex-start;
}

.grid.startAlign {
  align-items: start;
}

.centerAlign {
  align-items: center;
}

.flex.endAlign {
  align-items: flex-end;
}

.grid.endAlign {
  align-items: end;
}
