.option {
  display: flex;
  min-height: calc((var(--space-largest) - var(--space-smaller)));
  box-sizing: border-box;
  margin: 0 var(--space-small);
  padding: var(--space-small);
  border-radius: var(--radius-large);
  color: var(--color-heading);
  font-weight: 500;
  cursor: pointer;
  transition: all var(--timing-base);
  justify-content: space-between;
  align-items: center;
}

.option:hover,
.option:focus-visible {
  background-color: var(--color-surface--background);
}

.option:focus,
.option:focus-visible {
  outline: none;
}

.option:focus-visible {
  box-shadow: var(--shadow-focus);
}
