.italic {
  font-style: italic;
}

.highlight {
  display: inline;
  margin: 0 calc(-1 * var(--space-smaller));
  padding: var(--space-smaller);
  font-family: var(--typography--fontFamily-display);
  font-style: normal;
  font-weight: inherit;
  background-image: url(../../Emphasis/EmphasisBrushstroke.svg);
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: 100% var(--space-small);
}
