.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.highlight {
  margin-left: calc(-1 * var(--space-smaller));
  padding: 0 var(--space-smaller);
  background-image: linear-gradient(
    to left,
    var(--color-green--light),
    var(--color-green--light)
  );
  background-position: left 75%;
  background-repeat: repeat-x;
  background-size: 100% 52%;
}
