.regular {
  font-family: var(--typography--fontFamily-normal);
  font-weight: 400;
}

.semiBold {
  font-family: var(--typography--fontFamily-normal);
  font-weight: 600;
}

.bold {
  font-family: var(--typography--fontFamily-normal);
  font-weight: 700;
}

.extraBold {
  font-family: var(--typography--fontFamily-display);
  font-weight: 800;
}

.black {
  font-family: var(--typography--fontFamily-display);
  font-weight: 900;
}
