.regular {
  font-family: var(--fontFamily-normal);
  font-weight: 400;
}

.bold {
  font-family: var(--fontFamily-normal);
  font-weight: 700;
}

.extraBold {
  font-family: var(--fontFamily-display);
  font-weight: 800;
}

.black {
  font-family: var(--fontFamily-display);
  font-weight: 900;
}
