.blue {
  color: var(--color-blue);
}

.disabled {
  color: var(--color-disabled);
}

.greyBlueDark {
  color: var(--color-greyBlue--dark);
}

.greyBlue {
  color: var(--color-greyBlue);
}

.green {
  color: var(--color-green);
}

.error {
  color: var(--color-error);
}

.yellow {
  color: var(--color-yellow);
}

.yellowDark {
  color: var(--color-yellow--dark);
}

.lightBlue {
  color: var(--color-lightBlue);
}

.white {
  color: var(--color-white);
}
