.blue {
  color: var(--color-blue);
}

.grey {
  color: var(--color-grey);
}

.greyBlueDark {
  color: var(--color-greyBlue--dark);
}

.greyBlue {
  color: var(--color-greyBlue);
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

.yellow {
  color: var(--color-yellow);
}

.yellowDark {
  color: var(--color-yellow--dark);
}

.lightBlue {
  color: var(--color-lightBlue);
}

.white {
  color: var(--color-white);
}

.heading {
  color: var(--color-heading);
}

.text {
  color: var(--color-text);
}

.textSecondary {
  color: var(--color-text--secondary);
}

.critical {
  color: var(--color-critical);
}

.warning {
  color: var(--color-warning--onSurface);
}

.informative {
  color: var(--color-informative--onSurface);
}

.success {
  color: var(--color-success--onSurface);
}

.disabled {
  color: var(--color-disabled);
}
