.blue {
  color: var(--color-blue);
}

.grey {
  color: var(--color-grey);
}

.greyBlueDark {
  color: var(--color-greyBlue--dark);
}

.greyBlue {
  color: var(--color-greyBlue);
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

.yellow {
  color: var(--color-yellow);
}

.lightBlue {
  color: var(--color-lightBlue);
}

.white {
  color: var(--color-white);
}
