@media (--handhelds) {
  :root {
    --typography--fontSize-extravagant: calc(var(--base-unit) * 2.5);
    /* 40 */
    --typography--fontSize-jumbo: calc(var(--base-unit) * 1.75);
    /* 28 */
    --typography--fontSize-largest: calc(var(--base-unit) * 1.375);
    /* 22 */
  }
}

.base {
  margin: 0;
  padding: 0;
  font-family: var(--typography--fontFamily-normal);
  /* Wrap really long words or URL's */
  overflow-wrap: break-word;
  word-wrap: break-word;
}
