.solid {
  text-decoration: underline solid;
  text-underline-offset: 2px;
}

.double {
  text-decoration: underline double;
  text-underline-offset: 2px;
}

.dotted {
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}

.dashed {
  text-decoration: underline dashed;
  text-underline-offset: 2px;
}
