.external {
  display: block;
  margin-bottom: var(--space-smaller);
  color: var(--color-text--secondary);
  line-height: var(--typography--lineHeight-base);
}

.label {
  position: absolute;
  top: var(50%);
  z-index: calc(var(--elevation-base) + 1);
  width: 100%;
  padding-left: var(--space-base);
  padding-right: var(--space-base);
  overflow: hidden;
  color: var(--color-text--secondary);
  line-height: calc(var(--base-unit) * 1.25);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all var(--timing-quick);
}
