.button {
  display: inline-flex;
  min-height: var(--height);
  box-sizing: border-box;
  padding: var(--padding);
  border: 1px solid var(--borderColor, transparent);
  border-radius: var(--radius-base);
  color: var(--color, transparent);
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  background-color: var(--bgColor, transparent);
  cursor: pointer;
  transition: all var(--timing-base);
  appearance: none;
  align-items: center;
  justify-content: center;
}

.button:focus {
  outline-color: var(--color-outline);
}

/* Type */

.primary {
  --bgColor: var(--buttonColor);
  --color: var(--color-white);
  --loadingColor: var(--buttonColor--loading);
  --hoverbgColor: var(--buttonColor--hover);
}

.primary:hover,
.primary:focus {
  background-color: var(--hoverbgColor);
}

.secondary {
  --bgColor: transparent;
  --color: var(--buttonColor);
  --borderColor: var(--buttonColor);
  --loadingColor: var(--buttonColor--loading2);
}

.secondary:hover,
.secondary:focus {
  filter: brightness(90%);
}

.tertiary {
  --bgColor: transparent;
  --color: var(--buttonColor);
  --loadingColor: var(--buttonColor--loading2);
}

.tertiary:hover,
.tertiary:focus {
  background-color: var(--color-grey--lightest);
}

/* Variation */

.work {
  --buttonColor: var(--color-green);
  --buttonColor--loading: var(--color-green--light);
  --buttonColor--loading2: var(--color-green--lightest);
  --buttonColor--hover: var(--color-green--dark);
}

.learning {
  --buttonColor: var(--color-lightBlue);
  --buttonColor--loading: var(--color-lightBlue--light);
  --buttonColor--loading2: var(--color-lightBlue--lightest);
  --buttonColor--hover: var(--color-lightBlue--dark);
}

.destructive {
  --buttonColor: var(--color-red);
  --buttonColor--loading: var(--color-red--light);
  --buttonColor--loading2: var(--color-red--lightest);
  --buttonColor--hover: var(--color-red--dark);
}

/* Cancel is special because, by defualt, it's styled as a secondary button */

.cancel {
  --bgColor: transparent;
  --buttonColor: var(--color-greyBlue);
  --buttonColor--loading: var(--color-greyBlue--lightest);
  --borderColor: var(--color-greyBlue);
}

.cancel:focus,
.cancel:hover {
  filter: brightness(90%);
}

/* Disabled */

.disabled {
  --buttonColor: var(--color-grey--lighter);
  --buttonColor--hover: var(--color-grey--lighter);
  cursor: not-allowed;
}

/* Sizes */

.small {
  --height: calc(var(--base-unit) * 1.5);
  --padding: var(--space-smaller) var(--space-small);
}

.base {
  --height: calc(var(--base-unit) * 2.25);
  --padding: var(--space-small) calc(var(--space-base) - 4px);
}

.large {
  --height: calc(var(--base-unit) * 3);
  --padding: var(--space-small) var(--space-base);
}

.hasIcon {
  --padding: var(--space-smaller) var(--space-base);
}

/* Icon */

.hasIcon > *:first-child {
  margin-right: var(--space-small);
}

.iconOnRight > *:first-child {
  margin-left: var(--space-small);
  margin-right: 0;
  order: 1;
}

.fullWidth {
  width: 100%;
}

.loading {
  background-image: linear-gradient(
    135deg,
    var(--loadingColor) 0%,
    var(--loadingColor) 25%,
    var(--bgColor) 25%,
    var(--bgColor) 50%,
    var(--loadingColor) 50%,
    var(--loadingColor) 75%,
    var(--bgColor) 75%,
    var(--bgColor) 100%
  );
  background-size: var(--space-larger) var(--space-larger);
  pointer-events: none;
  cursor: not-allowed;
  animation-duration: var(--timing-slowest);
  animation-iteration-count: infinite;
  animation-name: animate-stripes;
  animation-timing-function: linear;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--space-larger) var(--space-larger);
  }
}
