.button {
  display: inline-flex;
  min-height: var(--height);
  box-sizing: border-box;
  padding: var(--padding);
  border: 1px solid var(--borderColor, transparent);
  border-radius: var(--radius-base);
  color: var(--buttonColor, transparent);
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  background-color: var(--bgColor, transparent);
  cursor: pointer;
  transition: all var(--timing-base);
  appearance: none;
  align-items: center;
  justify-content: center;
}

.button:focus {
  outline-color: var(--color-outline);
}

/* Variation */

.primary {
  --bgColor: var(--buttonColor);
  --hoverbgColor: var(--hoverColor);
}

.primary:hover,
.primary:focus {
  background-color: var(--hoverbgColor);
}

.secondary {
  --borderColor: var(--buttonColor);
}

.secondary:hover,
.secondary:focus {
  filter: brightness(90%);
}

.tertiary:hover,
.tertiary:focus {
  background-color: var(--color-grey--lightest);
}

/* Interaction */

.work {
  --buttonColor: var(--color-green);
  --hoverColor: var(--color-green--dark);
}

.learning {
  --buttonColor: var(--color-lightBlue);
  --hoverColor: var(--color-lightBlue--dark);
}

.destructive {
  --buttonColor: var(--color-red);
  --hoverColor: var(--color-red--dark);
}

/* Cancel is special because, by defualt, it's styled as a secondary button */

.cancel {
  --borderColor: var(--color-greyBlue);
  --hoverbgColor: transparent;
  --hoverBorderColor: var(--color-greyBlue--dark);
}

.cancel:hover {
  filter: brightness(90%);
}

/* Disabled */

.disabled {
  --buttonColor: var(--color-grey--lighter);
  --hoverColor: var(--color-grey--lighter);
  cursor: not-allowed;
}

/* Sizes */

.small {
  --height: calc(var(--base-unit) * 1.5);
  --padding: var(--space-smaller) var(--space-small);
}

.base {
  --height: calc(var(--base-unit) * 2.25);
  --padding: var(--space-small) calc(var(--space-base) - 4px);
}

.large {
  --height: calc(var(--base-unit) * 3);
  --padding: var(--space-small) var(--space-base);
}

.hasIcon {
  --padding: var(--space-smaller) var(--space-base);
}

/* Icon */

.hasIcon > *:first-child {
  margin-right: var(--space-small);
}

.iconOnRight > *:first-child {
  margin-left: var(--space-small);
  margin-right: 0;
  order: 1;
}

.fullWidth {
  width: 100%;
}
