:root {
  --button--color-work: var(--color-green);
  --button--color-work--hover: var(--color-green--dark);

  --button--color-learning: var(--color-lightBlue);
  --button--color-learning--hover: var(--color-lightBlue--dark);

  --button--color-destructive: var(--color-red);
  --button--color-destructive--hover: var(--color-red--dark);

  --button--color-cancel: var(--color-greyBlue);
  --button--color-cancel--hover: var(--color-grey--lightest);

  --button--bg-color-cancel: var(--color-white);
  --button--color-disabled: var(--color-grey--lighter);
  --button--color-secondary: var(--color-white);
  --button--color-tertiary: var(--color-white);

  --button--duration-loading: 2s;
}

.button {
  display: inline-flex;
  min-height: calc(var(--base-unit) * 2.25);
  box-sizing: border-box;
  margin: 0;
  border: 1px solid transparent;
  border-radius: var(--radius-base);
  color: transparent;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--timing-base);
  appearance: none;
  align-items: center;
  justify-content: center;
}

.button:focus,
a.button:focus {
  outline-color: var(--color-focus);
}

/* Variation */

.work {
  border-color: var(--button--color-work);
  color: var(--button--color-work);
  background-color: var(--button--color-work);
}

.work:hover,
a.work:hover,
.work:focus,
a.work:focus {
  border-color: var(--button--color-work--hover);
  background-color: var(--button--color-work--hover);
}

.learning {
  border-color: var(--button--color-learning);
  background-color: var(--button--color-learning);
}

.learning:hover,
a.learning:hover,
.learning:focus,
a.learning:focus {
  border-color: var(--button--color-learning--hover);
  background-color: var(--button--color-learning--hover);
}

.destructive {
  border-color: var(--button--color-destructive);
  background-color: var(--button--color-destructive);
}

.destructive:hover,
a.destructive:hover,
.destructive:focus,
a.destructive:focus {
  border-color: var(--button--color-destructive--hover);
  background-color: var(--button--color-destructive--hover);
}

/* Cancel is special because, by default, it's styled as a secondary button */

.cancel {
  border-color: var(--button--color-cancel);
  background-color: var(--button--bg-color-cancel);
}

.cancel:focus,
.cancel:hover,
a.cancel:focus,
a.cancel:hover {
  background-color: var(--button--color-cancel--hover);
  filter: brightness(80%);
}

/* Type */

.primary {
  color: var(--color-white);
}

.secondary {
  background-color: var(--button--color-secondary);
}

.secondary:hover,
.secondary:focus,
a.secondary:hover,
a.secondary:focus {
  background-color: var(--button--color-secondary);
  filter: brightness(80%);
}

.tertiary {
  border-color: var(--button--color-tertiary);
  background-color: var(--button--color-tertiary);
}

.tertiary:hover,
.tertiary:focus,
a.tertiary:hover,
a.tertiary:focus {
  border-color: transparent;
  background-color: var(--color-grey--lightest);
}

/* Disabled */

.disabled,
.disabled:hover {
  border-color: var(--button--color-disabled);
  user-select: none;
  background-color: var(--button--color-disabled);
  pointer-events: none;
  cursor: not-allowed;
}

/* Sizes */

.small {
  min-height: calc(var(--base-unit) * 1.5);
  padding: 0 var(--space-small);
}

.base {
  min-height: calc(var(--base-unit) * 2.25);
  padding: 0 calc(var(--space-base) - 4px);
}

.large {
  min-height: calc(var(--base-unit) * 3);
  padding: 0 var(--space-base);
}

/* Icon */

.onlyIcon {
  width: calc(var(--base-unit) * 2.25);
  padding: 0;
}

.onlyIcon.small {
  width: calc(var(--space-small) * 3);
}

.onlyIcon.base {
  width: calc(var(--space-base) * 2.25);
}

.onlyIcon.large {
  width: calc(var(--space-large) * 2);
}

.hasIconAndLabel {
  width: auto;
}

.hasIconAndLabel > *:first-child {
  margin-right: var(--space-small);
}

.iconOnRight > *:first-child {
  margin-left: var(--space-small);
  margin-right: 0;
  order: 1;
}

.fullWidth {
  width: 100%;
}

.loading {
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 10%) 0%,
    rgba(0, 0, 0, 10%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 10%) 50%,
    rgba(0, 0, 0, 10%) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: var(--space-larger) var(--space-larger);
  pointer-events: none;
  cursor: not-allowed;
  animation-duration: var(--button--duration-loading);
  animation-iteration-count: infinite;
  animation-name: animateStripes;
  animation-timing-function: linear;
}

.primary.loading:not(.cancel) {
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 25%) 0%,
    rgba(255, 255, 255, 25%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 25%) 50%,
    rgba(255, 255, 255, 25%) 75%,
    transparent 75%,
    transparent 100%
  );
}

@keyframes animateStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--space-larger) var(--space-larger);
  }
}
