/**
 * This class is added to the root html element when opening a LightBox.
 * When the user tries to print the page, this prevents the LightBox content
 * from being duplicated multiple times.
 */
:global(html.atlantisLightBoxActive) {
  @media print {
    overflow: hidden;

    body {
      position: absolute;
      height: 100%;
      overflow: hidden;
    }
  }
}

.next,
.prev {
  /* display: flex;
  position: absolute;
  top: 50%;

  transform: translateY(-50%); */
  z-index: var(--elevation-base);
}

.next {
  /* right: var(--space-base); */
}

.prev {
  /* left: var(--space-base); */
}

.lightboxWrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--elevation-modal);
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.toolbar {
  display: flex;
  z-index: var(--elevation-base);
  padding: var(--space-small) var(--space-base);
  color: var(--color-text--reverse);
  font-size: var(--typography--fontSize-large);
  justify-content: end;
  align-items: center;
}

.imagesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  align-items: center;
  align-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* TODO: add a dark overlay here while image is sorted */
  /* background-color: var(--color-overlay); */
  background-color: rgba(0, 0, 0, 0.8);
}

.image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  /* overflow: hidden; */
  object-fit: contain;
}

.imageWrapper {
  /* Corresponds to max image area */
  display: flex;
  position: relative;
  width: 100%;
  /* //TODO: make dynamic */
  height: calc(100vh - 150px);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}

.captionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: var(--elevation-base);
  margin-bottom: 32px;
  gap: 8px;
}
