/**
 * This class is added to the root html element when opening a LightBox.
 * When the user tries to print the page, this prevents the LightBox content
 * from being duplicated multiple times.
 */
:global(html.atlantisLightBoxActive) {
  @media print {
    overflow: hidden;

    body {
      position: absolute;
      height: 100%;
      overflow: hidden;
    }
  }
}

.lightboxWrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--elevation-modal);
  height: 100%;
  max-width: 100%;
  padding: 0 32px;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  flex-direction: column;
}

.toolbar {
  display: flex;
  z-index: var(--elevation-base);
  color: var(--color-text--reverse);
  font-size: var(--typography--fontSize-large);
  justify-content: end;
  align-items: center;
}

.imagesWrapper {
  display: flex;
  z-index: var(--elevation-base);
  height: 100%;
  max-width: 100%;
  margin-bottom: 24px;
  align-items: center;
  align-content: center;
  gap: 16px;
}

.image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageWrapper {
  /* Corresponds to max image area */
  display: flex;
  position: relative;
  width: 100%;
  /* //TODO: make dynamic */
  /* height: calc(100vh - 150px); */
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  /* background-color: orange; */
}

.captionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: var(--elevation-base);
  margin-bottom: 32px;
  gap: 8px;
}
