.wrapper:global(.ril__outer) {
  font-family: var(--typography--fontFamily-normal);
  background-color: transparent;
}

.wrapper:global(.ril__outer:before) {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
}

.wrapper:global(.ril__outer .ril__captionContent) {
  color: var(--color-greyBlue--lighter);
}

.wrapper:global(.ril__outer .ril__toolbarItem) {
  color: var(--color-greyBlue--lighter);
}
