.emptyStateWrapper {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  padding: var(--space-base);
  justify-content: center;
  flex-direction: column;
  row-gap: var(--space-base);
  align-items: center;
}
