.actionContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--space-small);
  background-color: var(--color-surface);
}

.actionButton {
  position: relative;
  width: 100%;
  min-height: calc((var(--space-largest) - var(--space-small)));
  padding: var(--space-small) 0;
  border: none;
  text-align: left;
  background-color: var(--color-surface);
  cursor: pointer;
}

.actionButton:focus {
  box-shadow: var(--shadow-focus);
  border-radius: var(--radius-large);
  background-color: var(--color-surface--background);
}

.actionButton:hover {
  border-radius: var(--radius-large);
  background-color: var(--color-surface--background);
}

.actionButton span {
  margin-left: var(--space-small);
}
