.success {
  background-color: var(--color-success);
}

.error {
  background-color: var(--color-destructive);
}

.warning {
  background-color: var(--color-warning);
}

.notice {
  background-color: var(--color-informative);
}
