:root {
  --border-color: var(--color-border);
  --border-active-color: var(--color-focus);
}

.dropZoneBase {
  font-size: 0;
  line-height: 0;
  user-select: none;
  cursor: pointer;
}

.dropZone {
  padding: var(--space-base);
  border: var(--border-color) dashed var(--border-thick);
  border-radius: var(--radius-larger);
  text-align: center;
}

.dropZone.active {
  border-color: var(--border-active-color);
  background-color: var(--color-yellow--lightest);
}
