/* 
  faking a border with a background on the parent element, gaps & padding
  to prevent double borders on overlapping boxes
*/
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: var(--border-base);
  row-gap: var(--border-base);
  background: var(--color-border);
  padding: var(--border-base);
  border-radius: var(--radius-base);
}

.checkboxWrapper {
  position: relative;
}

/* kept present but hidden for accessibility */
.container input[type="checkbox"] {
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 0;
  left: 0;
  opacity: 0;
}

.dayCheckbox {
  display: block;
  padding: 1rem;
  text-align: center;
  user-select: none;
  background: var(--color-white);
  transition: 300ms;
}

.dayCheckbox::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: var(--radius-base);
  top: calc(-1 * var(--border-base));
  right: calc(-1 * var(--border-base));
  bottom: calc(-1 * var(--border-base));
  left: calc(-1 * var(--border-base));
}

/* Checked stlying */
.container input[type="checkbox"]:checked + .dayCheckbox::after {
  border: var(--border-base) solid var(--color-interactive--hover);
}

.container input[type="checkbox"]:checked + .dayCheckbox {
  color: var(--color-white);
  background: var(--color-interactive);
}

.container input[type="checkbox"]:checked:focus + .dayCheckbox {
  background: var(--color-interactive--hover);
}

/* Focus & hover styling */
.container input[type="checkbox"]:focus + .dayCheckbox,
.dayCheckbox:hover {
  background: var(--color-surface--hover);
}

.container input[type="checkbox"]:focus + .dayCheckbox::after {
  box-shadow: var(--shadow-focus);
}

.container input[type="checkbox"]:checked + .dayCheckbox:hover {
  background: var(--color-interactive--hover);
}

/* Disabled styling */
.container input[type="checkbox"]:disabled:checked + .dayCheckbox {
  background: var(--color-disabled);
  color: var(--color-disabled--secondary);
}

.container input[type="checkbox"]:checked:disabled + .dayCheckbox::after {
  border: none;
}

.container input[type="checkbox"]:disabled + .dayCheckbox {
  background: var(--color-surface--background);
  color: var(--color-disabled);
  cursor: default;
}

.container input[type="checkbox"]:enabled + .dayCheckbox{
  cursor: pointer;
}
