@import "../../global.css";

.iconDecorator {
  --icon-color: var(--color-white);
  --background-color: var(--accent-color, var(--color-grey));

  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--icon-color);
  font-size: 1.5em;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
}
