@import "../global.css";

.document {
  --background-color: var(--color-grey--lightest);
  --border-color: var(--color-grey--lighter);
  --accent-color: var(--color-grey);
  --content-background-color: var(--color-white);
  --subtitle-font-weight: var(--font-weight--bold, 700);
  --subtitle-color: var(--color-grey-blue);

  display: flex;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-top: 0.5rem solid var(--accent-color);
  border-radius: 4px;
  overflow: scroll;
  background-color: var(--background-color);
  flex-wrap: wrap;
}

.purple {
  --accent-color: var(--color-purple);
}

.header {
  display: flex;
  min-width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  order: 1;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
}

.flexColumn {
  order: 2;
  flex: 1 0 20rem;
  min-width: calc(100% / 12 * 7 - 1rem);
  margin-bottom: 1rem;
}

.title {
  hyphens: auto;
}

.title > h2 {
  margin-top: 0;
  margin-bottom: 0.25em;
}

.title > p {
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--subtitle-color);
  font-weight: var(--subtitle-font-weight);
}

.contactInfo {
  display: flex;
}

.detail {
  min-width: calc(100% / 12 * 5 - 1rem);
  padding: 1rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: var(--content-background-color);
  order: 3;
  flex: 1;
}

.content {
  min-width: 100%;
  min-height: 1rem;
  margin-right: -2rem;
  margin-bottom: -2rem;
  margin-left: -2rem;
  padding: 2rem;
  background-color: var(--content-background-color);
  order: 4;
  flex: 1 0 auto;
}
