@import "../global.css";

.document {
  background-color: var(--color-grey--lightest);
  border: 1px solid var(--color-grey--lighter);
  border-top: 0.5rem solid var(--accent-color, var(--color-grey));
  border-radius: 4px;
}

.purple {
  --accent-color: var(--color-purple);
}

.documentHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.topHeader {
  display: flex;
  flex: 1 0 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-grey--lighter);
}

.iconDecorator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: var(--accent-color, var(--color-grey));
  border-radius: 50%;
}

.statusWrapper {
  flex: 1 0 auto;
  margin-left: 1rem;
}

.documentMetadata {
  flex: 1 0 12rem;
  padding: 1rem;
  margin-bottom: -2rem;
  background-color: var(--color-white);
  border-radius: 4px 0;
}

.documentContent {
  min-height: 1rem;
  padding: 2rem;
  background-color: var(--color-white);
}
