.banner {
  --banner-surface: var(--color-surface);
  --banner-textColor: var(--color-text);
  display: flex;
  position: relative;
  padding: calc(var(--space-base) - var(--space-smaller)) var(--space-base);
  border-radius: var(--radius-base);
  color: var(--banner-textColor);
  background-color: var(--banner-surface);
  gap: var(--space-small);
  align-items: center;
}

.notice {
  --banner-surface: var(--color-informative--surface);
  --banner-textColor: var(--color-informative--onSurface);
}

.error {
  --banner-surface: var(--color-critical--surface);
  --banner-textColor: var(--color-critical--onSurface);
}

.warning {
  --banner-surface: var(--color-warning--surface);
  --banner-textColor: var(--color-warning--onSurface);
}

.success {
  --banner-surface: var(--color-success--surface);
  --banner-textColor: var(--color-success--onSurface);
}

.bannerChildren > a,
.bannerChildren > p {
  color: inherit;
}

.bannerChildren > a {
  text-decoration: underline;
}

.bannerChildren > a:hover {
  color: var(--color-heading);
}

.bannerContent {
  display: flex;
  flex: 1 1 auto;
  gap: var(--space-small);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.bannerChildren {
  flex: 1;
  align-self: center;
}

.bannerContent > *:last-child {
  margin-bottom: 0;
}

.bannerAction {
  display: flex;
  flex: 0 0 auto;
  padding-left: var(--space-larger);
}

.closeButton {
  margin: calc(var(--space-smallest) * -1) 0;
  align-self: flex-start;
  mix-blend-mode: multiply;

  @media (--small-screens-and-below) {
    margin: calc(var(--space-small) * -1) 0;
  }
}

[data-theme="dark"] .closeButton {
  mix-blend-mode: screen;
}

.iconWrapper {
  display: inline-flex;
  padding: var(--space-smaller);
  border-radius: var(--radius-circle);
  background-color: var(--color-surface--background);
}

.medium .iconWrapper {
  align-self: center;
}
