:root {
  --flash--inset: var(--space-base);
}

.flash {
  display: flex;
  box-shadow: var(--shadow-base);
  padding: var(--flash--inset);
  color: var(--color-black);
  background-color: var(--color-grey--lightest);
  align-items: start;
}

.bannerContent {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dismissWrapper {
  display: flex;
  position: relative;
  height: var(--space-large);
  padding-left: var(--flash--inset);
  align-self: stretch;
}

.closeButton {
  position: absolute;
  top: calc(var(--flash--inset) * -1);
  right: calc(var(--flash--inset) * -1);
  padding: var(--space-smallest);
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  flex: 0;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.025);
}

.closeButton:focus {
  box-shadow: 0 0 1px 0.125rem var(--color-outline);
  outline: none;
  background: rgba(0, 0, 0, 0.05);
}
