.banner {
  display: flex;
  position: relative;
  box-shadow: var(--shadow-base);
  padding: var(--space-base);
  color: var(--color-text);
  background-color: var(--color-surface--background);
  gap: var(--space-small);
  align-items: center;
}

.bannerChildren > a {
  color: var(--color-text);
}

.bannerChildren > a:hover {
  color: var(--color-blue);
}

.bannerContent {
  display: flex;
  flex: 1 1 auto;
  gap: var(--space-small);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (--small-screens-and-below) {
    flex-wrap: wrap;
  }
}

.bannerChildren {
  flex: 1;
  align-self: center;
}

.bannerContent > *:last-child {
  margin-bottom: 0;
}

.medium .bannerChildren {
  flex: 1;
}

.bannerAction {
  display: flex;
  flex: 0 0 auto;

  @media (--small-screens-and-below) {
    width: 100%;
    margin-top: var(--space-small);
  }
}

.closeButton {
  margin: calc(var(--space-smallest) * -1) 0;
  padding: var(--space-smallest);
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  flex: 0;
  align-self: flex-start;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.025);
}

.closeButton:focus {
  box-shadow: var(--shadow-focus);
  outline: none;
  background: rgba(0, 0, 0, 0.05);
}
