:root {
  --flash--inset: var(--space-base);
  --flash--inset--small: var(--space-small);
}

.flash {
  display: flex;
  position: relative;
  box-shadow: var(--shadow-base);
  padding: var(--flash--inset--small) var(--flash--inset);
  color: var(--color-black);
  background-color: var(--color-grey--lightest);
  align-items: flex-start;
}

.flash.medium {
  padding: var(--flash--inset);
}

.bannerContent {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dismissibleSpacing {
  padding-right: var(--flash--inset);
}

.bannerContent > * {
  margin-top: var(--flash--inset--small);
  margin-bottom: var(--flash--inset--small);
}

.bannerContent > *:first-child {
  margin-right: var(--space-base);
}

.medium .bannerContent {
  flex-wrap: nowrap;
}

.medium .bannerContent > * {
  margin-top: 0;
  margin-bottom: 0;
}

.bannerAction {
  display: flex;
  flex: 0 0 auto;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-smallest);
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  flex: 0;
}

/* .medium .closeButton {
  top: var(--flash--inset);
} */

.closeButton:hover {
  background: rgba(0, 0, 0, 0.025);
}

.closeButton:focus {
  box-shadow: 0 0 1px 0.125rem var(--color-outline);
  outline: none;
  background: rgba(0, 0, 0, 0.05);
}
