:root {
  --flash--inset: var(--space-base);
  --flash--inset--small: var(--space-small);
}

.flash {
  display: flex;
  position: relative;
  box-shadow: var(--shadow-base);
  padding: var(--flash--inset);
  color: var(--color-black);
  background-color: var(--color-grey--lightest);
  align-items: center;
}

.bannerContent {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.bannerChildren {
  align-self: center;
}

.dismissibleSpacing {
  padding-top: var(--space-smallest);
  padding-right: var(--flash--inset);
}

.bannerContent > * {
  margin-top: var(--flash--inset--small);
  margin-bottom: var(--flash--inset--small);
}

.bannerContent > *:first-child {
  margin-top: 0;
  margin-right: var(--space-base);
}

.bannerContent > *:last-child {
  margin-bottom: 0;
}

.medium .bannerContent {
  flex-wrap: nowrap;
}

.medium .bannerContent > * {
  margin-top: 0;
  margin-bottom: 0;
}

.bannerAction {
  display: flex;
  flex: 0 0 auto;
}

.closeButton {
  padding: var(--space-smallest);
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  flex: 0;
  align-self: flex-start;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.025);
}

.closeButton:focus {
  box-shadow: var(--shadow-focus);
  outline: none;
  background: rgba(0, 0, 0, 0.05);
}
