.notice {
  background-color: var(--color-informative--surface);
}

/* Our Banner "surface" colors should be lighter than they are so we're leaving the following alone for now */

.success {
  background-color: var(--color-green--lighter);
}

.warning {
  background-color: var(--color-yellow--lighter);
}

.error {
  background-color: var(--color-red--lighter);
}
