.glimmer {
  --glimmer-background: var(--color-surface--reverse);
  --glimmer-background-opacity: 7.5%;
  --glimmer-shine-opacity: 75%;
  --glimmer-shine: rgba(var(--color-white--rgb), var(--glimmer-shine-opacity));
  --duration-base: calc(var(--timing-slowest) * 4); /* 2s */
  --duration-fast: calc(var(--duration-base) / 2); /* 1s */
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-base);
  overflow: hidden;
}

.glimmer::before,
.glimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glimmer::before {
  background-color: var(--glimmer-background);
  opacity: var(--glimmer-background-opacity);
}

.glimmer::after {
  background-image: linear-gradient(
    90deg,
    transparent 0px,
    var(--glimmer-shine) var(--space-larger),
    transparent var(--space-extravagant)
  );
  background-repeat: no-repeat;
  background-size: var(--space-extravagant) 100%;
  animation: glimmer 2s infinite linear;
}

[data-theme="dark"] .glimmer,
.reverseTheme {
  --glimmer-shine-opacity: 20%;
}

.reverseTheme {
  --glimmer-background: var(--color-surface);
}

[data-theme="dark"] .reverseTheme {
  --glimmer-shine-opacity: 75%;
  --glimmer-background-opacity: 7.5%;
}

@keyframes glimmer {
  0%,
  20% {
    background-position-x: calc(var(--space-extravagant) * -1);
  }

  100% {
    background-position-x: calc(100% + var(--space-extravagant));
  }
}

.header {
  width: 30%;
  max-width: 180px;
  min-width: 120px;
}

.button {
  display: inline-block;
  width: 100px;
  height: 36px;
}

.buttonFill {
  display: block;
  width: 100%;
  min-width: 100px;
}
