.wrapper {
  display: block;
}

.boxWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.boxWrapper div {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(var(--color-black--rgb), 20%);
  transition: none;
}
@keyframes glimmer {
  0% {
    transform: translateX(0px);
  }
  99% {
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
.boxWrapper div:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  box-shadow: 1px 1px 5px white;
  background-image: linear-gradient(
    90deg,
    transparent 0px,
    white 5px,
    transparent 10px
  );
  animation: glimmer 1s infinite linear;
}

.ball {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(var(--color-black--rgb), 25%);
  transition: transform linear;
}

.bar {
  position: fixed;
  bottom: 20px;
  width: 180px;
  height: 8px;
  background-color: rgba(var(--color-black--rgb), 25%);
  transform: translateX(800px);
}

.hidden {
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.shown {
  opacity: 1;
  transition: opacity ease-in-out 1s;
}
