.thumbnail {
  --message-weight: 400;
  display: inline-block;

  position: relative;

  font-weight: var(--message-weight);
}

.deleteButton {
  position: absolute;
  top: var(--space-smaller);
  right: var(--space-smaller);
  z-index: 1;
}

.bold {
  --message-weight: 800;
  transform: uppercase;
}
