.categoryCardSection {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--space-larger);
    width: 100%;
    padding-bottom: var(--space-large);
}

@media screen and (min-width: 1024px) {
    .categoryCardSection {
        display: grid;
        grid-template-columns: 96px 3fr;
    }
}