.colorbar {
  display: flex;
  width: 100%;
}

.color {
  flex: 1;
  text-align: center;
}

.swatch {
  position: relative;
  box-sizing: border-box;
  height: var(--space-extravagant);
  margin-bottom: var(--space-small);
}

.button {
  position: absolute;
  top: var(--space-smaller);
  right: var(--space-smaller);
}

.pre {
  display: inline-block;
  margin: 0 0 var(--space-smaller);
  padding: var(--space-smallest) var(--space-small);
  border-radius: var(--radius-base);
  font-size: var(--typography--fontSize-small);
  background: var(--color-surface--background);
}
